package components

import (
	"helia/i18n"
	"helia/internal/domain"
)

templ CheckboxField(cfg domain.CheckboxFieldConfig, translator *i18n.Service) {
	<label class={ cfg.ClassLabel }>
		<input
			type="checkbox"
			name={ cfg.Name }
			id={ cfg.ID }
			value={ func() string {
				if cfg.Value != "" {
					return cfg.Value
				}
				return "1"
			}() }
			class={ cfg.ClassCheckbox }
			if cfg.IsChecked || cfg.Checked {
				checked="checked"
			}
			if cfg.OnChangeEndpoint != "" {
				hx-get={ cfg.OnChangeEndpoint }
				hx-trigger="change"
				if cfg.HxTarget != "" {
					hx-target={ cfg.HxTarget }
				}
				if cfg.HxSwap != "" {
					hx-swap={ cfg.HxSwap }
				} else {
					hx-swap="innerHTML"
				}
				if cfg.HxVals != "" {
					hx-vals={ cfg.HxVals }
				}
			}
		/>
		<span class={ cfg.ClassCheckboxSpan }>
			{ translator.Label(cfg.LabelText) }
		</span>
		if cfg.OnChange != "" {
			<script>
				document.getElementById("{ cfg.ID }").addEventListener('change', function() {{
					{ cfg.OnChange }
				}});
			</script>
		}
	</label>
}
