package finansijsko

import (
	tmpl "helia/frontend/templates"
	"helia/internal/domain"
	"helia/pkg/utils"
)

templ NalogKnjizenjeStavke() {
	<div id="large-dialog" class="fixed inset-0 flex items-center justify-center p-4 bg-black bg-opacity-50 z-50">
		<div class="bg-white rounded-lg shadow-xl max-w-fit w-full max-h-[90vh] overflow-y-auto">
			<div class="m-0 p-0 bg-gray-200 font-sans">
				<div class="bg-gradient-to-r from-blue-300 to-blue-800 text-white px-4 py-2 font-bold text-sm relative">
					Knjiženje naloga
					<button
						class="absolute right-4 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-20 border border-white border-opacity-30 text-white px-2 py-1 text-xs cursor-pointer hover:bg-opacity-30"
						hx-get="api/nalozi/all/tipdok"
						hx-target="#content"
					>
						Nazad
					</button>
				</div>
				<div class="grid grid-cols-3 gap-1 px-1 pt-1 mb-1">
					<div class="bg-blue-200 border border-blue-400 col-span-2 pt-1 min-h-20">
						<div class="text-blue-800 font-bold text-xs mb-3 px-2">Podaci o nalogu u obradi</div>
						<div class="flex flex-col gap-1 py-2 px-2">
							<div class="flex gap-4">
								<div class="flex items-center gap-4 flex-1">
									<span class="block text-xs font-sm text-blue-700 w-20 flex-shrink-0">Nalog:</span>
									<input
										id="nalog"
										class="block px-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-100 focus:border-blue-100 min-w-0 h-6 w-24"
										disabled
									/>
								</div>
								<div class="flex items-center gap-4 flex-1">
									<span class="block text-xs font-sm text-blue-700 w-20 flex-shrink-0">Opis:</span>
									<input
										id="opisknjizenjastavke"
										class="block px-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-100 focus:border-blue-100 flex-1 min-w-0 h-6"
										disabled
									/>
								</div>
							</div>
							<div class="flex gap-4">
								<div class="flex items-center gap-4 flex-1">
									<span class="text-xs text-blue-700 w-20 flex-shrink-0">Datum obrade:</span>
									<input
										id="datumobrade"
										type="date"
										class="block px-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-100 focus:border-blue-100 min-w-0 h-6 w-32 disabled:bg-gray-200"
										disabled
									/>
								</div>
								<div class="flex items-center gap-4 flex-1">
									<span class="text-xs text-blue-700 w-20 flex-shrink-0">Datum naloga:</span>
									<input
										type="date"
										class="block px-2 border border-gray-300 rounded-md shadow-sm focus:ring-blue-100 focus:border-blue-100 min-w-0 h-6 w-32 disabled:bg-gray-200"
										id="datumnaloga"
										disabled
									/>
								</div>
							</div>
						</div>
					</div>
					<div class="bg-blue-200 border border-blue-400 col-span-1 p-2">
						<div class="text-blue-800 font-bold text-xs mb-3">Stanje naloga</div>
						<div class="flex flex-col gap-1">
							<div class="flex items-center text-xs gap-1">
								<span class="block text-xs font-sm text-blue-700 w-20 flex-shrink-0">Duguje:</span>
								@tmpl.NumericInputField("duguje", 0, 2, true, utils.ClassInputNumericDisabled)
							</div>
							<div class="flex items-center text-xs gap-1">
								<span class="block text-xs font-sm text-blue-700 w-20 flex-shrink-0">Potražuje:</span>
								@tmpl.NumericInputField("potrazuje", 0, 2, true, utils.ClassInputNumericDisabled)
							</div>
							<div class="flex items-center text-xs gap-1">
								<span class="text-blue-700 w-20 flex-shrink-0">Saldo:</span>
								@tmpl.NumericInputField("saldo", 0, 2, true, utils.ClassInputNumericDisabled)
							</div>
						</div>
					</div>
				</div>
				<div class="m-0 bg-gray-200 font-sans">
					<!-- Top Section -->
					<div class="bg-blue-50 border border-blue-400 flex-1 pl-1 min-h-20">
						<div class="text-blue-800 font-bold text-xs mb-1 border-b border-gray-400 pb-1">
							Osnovni podaci o stavci naloga
						</div>
						<!-- Form Fields -->
						<div class="grid grid-cols-2 mb-1">
							<!-- Left Column -->
							<div class="border border-blue-400 space-y-1 pt-1 px-1">
								<div class="flex items-center gap-1 mb-1">
									@KontoField()
									@tmpl.SearchButton(domain.SearchButtonConfig{
										ID:          "konto",
										Name:        "search-konto",
										HxUrl:       "/api/promet/searchbutton",
										HxTarget:    "#search-dropdown",
										HxSwap:      "innerHTML",
										HxVals:      `{"vkonta": "2"}`,
										ClassButton: utils.ClassButton,
									})
									@NazivField("kontonaziv")
								</div>
								<div class="flex items-center gap-1 mb-1">
									@SifraField()
									@tmpl.SearchButton(domain.SearchButtonConfig{
										ID:          "sifra",
										Name:        "search-sifra",
										HxUrl:       "/api/promet/searchbutton",
										HxTarget:    "#search-dropdown",
										HxSwap:      "innerHTML",
										HxVals:      `{"vkonta": "1"}`,
										ClassButton: utils.ClassButton,
									})
									@NazivField("sifranaziv")
								</div>
								<div class="flex items-center gap-1">
									@tmpl.ComboBoxField(domain.ComboFieldConfig{
										ID:          "vrstadokum",
										Name:        "vrstadokum",
										Placeholder: "Izaberite vrstu dokumenta",
										LabelText:   "Vrsta dokum.",
										HasLabel:    true,
										Disabled:    false,
										ClassSelect: utils.ClassInputTextEnabled + " min-w-[80px]",
										ClassLabel:  utils.ClassLabel + " w-24",
										TabIndex:    "5",
										OptionValues: []domain.ComboItem{
											{Key: "10", Value: "10-IZDAT RACUN KUPCU"},
											{Key: "20", Value: "20-PRIMLJEN RACUN OD DOBAVLJACA"},
											{Key: "30", Value: "30-IZVRSENA UPLATA"},
											{Key: "40", Value: "40-PRIMLJENA UPLATA"},
											{Key: "90", Value: "90-OPSTO KNJIZENJE"},
										},
									})
								</div>
								<div class="flex items-center gap-1 mb-1">
									@tmpl.TextInputField(domain.InputFieldConfig{
										ID:          "opisknjizenja",
										Name:        "opisknjizenja",
										Placeholder: "unesite opis knjizenja",
										LabelText:   "Opis knjizenja",
										FieldType:   "text",
										HasLabel:    true,
										Disabled:    false,
										ClassInput:  utils.ClassInputTextEnabled + " w-full ",
										ClassLabel:  utils.ClassLabel + " w-24",
									})
								</div>
								<div class="flex items-center gap-1 mb-1">
									@tmpl.TextInputField(domain.InputFieldConfig{
										ID:         "magacin",
										LabelText:  "Magacin",
										FieldType:  "text",
										HasLabel:   true,
										Disabled:   false,
										ClassInput: utils.ClassInputTextEnabled + "  w-[50px] min-w-[50px]",
										ClassLabel: utils.ClassLabel + " w-24",
										MinLength:  "1",
										MaxLength:  "4",
										TabIndex:   "6"})
									@tmpl.SearchButton(domain.SearchButtonConfig{
										ID:          "magacin",
										Name:        "search-magacin",
										HxUrl:       "/api/promet/searchbutton",
										HxTarget:    "#search-dropdown",
										HxSwap:      "innerHTML",
										ClassButton: utils.ClassButton,
									})
									@NazivField("magacinnaziv")
								</div>
								<div class="flex items-center gap-1">
									@tmpl.TextInputField(domain.InputFieldConfig{
										ID:         "mestoisporuke",
										LabelText:  "Mesto isporuke",
										FieldType:  "text",
										HasLabel:   true,
										Disabled:   false,
										ClassInput: utils.ClassInputTextEnabled + " w-[50px] min-w-[50px]",
										ClassLabel: utils.ClassLabel + " w-24",
										MinLength:  "1",
										MaxLength:  "4",
										TabIndex:   "6"})
									@tmpl.SearchButton(domain.SearchButtonConfig{
										ID:          "mestoisporuke-btn",
										Name:        "search-mestoisporuke",
										HxUrl:       "/api/mi/searchbutton",
										HxTarget:    "#search-dropdown",
										HxSwap:      "innerHTML",
										ClassButton: utils.ClassButton,
									})
									@NazivField("minaziv")
								</div>
								<div class="flex items-center gap-1">
									@tmpl.TextInputField(domain.InputFieldConfig{
										ID:         "komercijalista",
										LabelText:  "Komercijalista",
										FieldType:  "text",
										HasLabel:   true,
										Disabled:   false,
										ClassInput: utils.ClassInputTextEnabled + "  w-[50px] min-w-[50px]",
										ClassLabel: utils.ClassLabel + " w-24",
										MinLength:  "1",
										MaxLength:  "4",
										TabIndex:   "6"})
									@tmpl.SearchButton(domain.SearchButtonConfig{
										ID:          "komercijalista-btn",
										Name:        "search-komercijalista",
										HxUrl:       "/api/komercijalisti/searchbutton",
										HxTarget:    "#search-dropdown",
										HxSwap:      "innerHTML",
										ClassButton: utils.ClassButton,
									})
									@NazivField("komnaziv")
								</div>
								<!-- Amount Section -->
								<div class="flex justify-center gap-8 mb-4">
									<div class="text-center">
										<div class="text-xs font-bold text-gray-700 mb-1">Duguje</div>
										<input
											class="border border-gray-400 px-2 py-1 text-xs h-6 text-right"
											id="stavkeduguje"
											value="0,00"
										/>
									</div>
									<div class="text-center">
										<div class="text-xs font-bold text-gray-700 mb-1">Potražuje</div>
										<input
											class="border border-gray-400 px-2 py-1 text-xs h-6 text-right"
											id="stavkepotrazuje"
											value="0,00"
										/>
									</div>
								</div>
								<!-- Action Buttons -->
								<div class="flex justify-end gap-4 bottom-4 right-4 ">
									<button
										class="bg-gray-200 border border-gray-400 px-2 py-1 text-xs hover:bg-gray-300"
										hx-post="/api/sacuvaj"
										hx-trigger="click"
									>
										💾 Sačuvaj (F2)
									</button>
									<button
										class="bg-gray-200 border border-gray-400 px-2 py-1 text-xs hover:bg-gray-300"
										hx-post="/api/stampaj"
										hx-trigger="click"
									>
										🖨️ Štampaj
									</button>
								</div>
							</div>
							<!-- Right Column -->
							<div class="space-y-1 px-1">
								<div class="bg-blue-50 border border-blue-400 flex-1 px-2 py-1 space-y-1">
									<div class="flex items-center gap-1">
										@tmpl.ComboBoxField(domain.ComboFieldConfig{
											ID:           "oj",
											Name:         "oj",
											Placeholder:  "izaberite organizacionu jedinicu...",
											LabelText:    "Org. Jedinica",
											HasLabel:     true,
											Disabled:     false,
											ClassSelect:  utils.ClassInputTextEnabled + " min-w-[80px] w-full",
											ClassLabel:   utils.ClassLabel + " w-24",
											TabIndex:     "5",
											OptionValues: []domain.ComboItem{},
										})
									</div>
									<div class="flex items-center gap-1">
										@tmpl.ComboBoxField(domain.ComboFieldConfig{
											ID:           "mtroska",
											Name:         "mtroska",
											Placeholder:  "izaberite mesto troska...",
											LabelText:    "Mesto troska",
											HasLabel:     true,
											Disabled:     false,
											ClassSelect:  utils.ClassInputTextEnabled + " min-w-[80px] w-full",
											ClassLabel:   utils.ClassLabel + " w-24",
											TabIndex:     "5",
											OptionValues: []domain.ComboItem{},
										})
									</div>
								</div>
								<!-- Document Section -->
								<div class="bg-blue-50 border border-blue-400 flex-1 px-2 py-1 min-h-20">
									<div class="text-blue-800 font-bold text-xs mb-1">Podaci o dokum/uplati/isplati</div>
									<!-- Two Column Grid -->
									<div class="grid grid-cols-1 md:grid-cols-2">
										<!-- Document Field -->
										<div class="grid grid-cols-2 gap-2 mb-1 items-center">
											@tmpl.TextInputField(domain.InputFieldConfig{
												ID:         "brojdokum",
												Name:       "brojdokum",
												LabelText:  "Broj Dokumenta",
												FieldType:  "text",
												HasLabel:   true,
												Disabled:   false,
												ClassInput: utils.ClassInputTextEnabled + " min-w-[50px]",
												ClassLabel: utils.ClassLabel + " w-24",
												MinLength:  "0",
												MaxLength:  "10",
												TabIndex:   "6"})
										</div>
										<!-- Broj godina Field -->
										<div class="grid grid-cols-2 gap-2 mb-1 pl-2 items-center">
											@tmpl.TextInputField(domain.InputFieldConfig{
												ID:         "goddokum",
												Name:       "goddokum",
												LabelText:  "Godina dokum.",
												FieldType:  "text",
												HasLabel:   true,
												Disabled:   false,
												ClassInput: utils.ClassInputTextEnabled + "  min-w-[50px]",
												ClassLabel: utils.ClassLabel + " w-24",
												MinLength:  "4",
												MaxLength:  "4",
												TabIndex:   "6"})
										</div>
										<!-- Datum dokumenta Field -->
										<div class="grid grid-cols-2 gap-2 mb-1 items-center">
											@tmpl.TextInputField(domain.InputFieldConfig{
												ID:         "datdokum",
												Name:       "datdokum",
												LabelText:  "Datum dokum.",
												FieldType:  "date",
												HasLabel:   true,
												Disabled:   false,
												ClassInput: utils.ClassInputTextEnabled + " min-w-[50px]",
												ClassLabel: utils.ClassLabel + " w-24",
												MinLength:  "4",
												MaxLength:  "10",
												TabIndex:   "6"})
										</div>
										<!-- Rok Field -->
										<div class="grid grid-cols-2 gap-1 mb-1 pl-2 items-center">
											@tmpl.TextInputField(domain.InputFieldConfig{
												ID:         "rok",
												LabelText:  "Rok",
												FieldType:  "text",
												HasLabel:   true,
												Disabled:   false,
												ClassInput: utils.ClassInputTextEnabled + " min-w-[50px]",
												ClassLabel: utils.ClassLabel + " w-24",
												MinLength:  "4",
												MaxLength:  "4",
												TabIndex:   "6"})
										</div>
									</div>
									<!-- Description -->
									<div class="text-xs text-gray-600 italic py-1 border-t border-gray-300">
										Unose se podaci o veznog dokumenta za koji se odnosi storno dokument
									</div>
									<!-- Second Section - Two Column Grid -->
									<div class="grid grid-cols-1 md:grid-cols-2">
										<!-- Br. vezn. dokum. Field -->
										<div class="grid grid-cols-2 gap-2 mb-1 items-center">
											@tmpl.TextInputField(domain.InputFieldConfig{
												ID:         "brvezndokum",
												Name:       "brvezndokum",
												LabelText:  "Br. Vezn. Dokum.",
												FieldType:  "text",
												HasLabel:   true,
												Disabled:   false,
												ClassInput: utils.ClassInputTextEnabled + " min-w-[50px]",
												ClassLabel: utils.ClassLabel + " w-24",
												MinLength:  "0",
												MaxLength:  "10",
												TabIndex:   "6"})
										</div>
										<!-- God. godina Field -->
										<div class="grid grid-cols-2 gap-2 pl-2 mb-1 items-center">
											@tmpl.TextInputField(domain.InputFieldConfig{
												ID:         "godinavezndokum",
												Name:       "godinavezndokum",
												LabelText:  "God. Vezn. Dokum.",
												FieldType:  "text",
												HasLabel:   true,
												Disabled:   false,
												ClassInput: utils.ClassInputTextEnabled + " min-w-[50px]",
												ClassLabel: utils.ClassLabel + " w-24",
												MinLength:  "0",
												MaxLength:  "10",
												TabIndex:   "6"})
										</div>
										<!-- Dat. vezn. dokum. Field -->
										<div class="grid grid-cols-2 gap-2 mb-1 items-center">
											@tmpl.TextInputField(domain.InputFieldConfig{
												ID:         "datveznogdokum",
												Name:       "datveznogdokum",
												LabelText:  "Datum veznog dokum.",
												FieldType:  "date",
												HasLabel:   true,
												Disabled:   false,
												ClassInput: utils.ClassInputTextEnabled + " min-w-[50px]",
												ClassLabel: utils.ClassLabel + " w-24",
												MinLength:  "4",
												MaxLength:  "10",
												TabIndex:   "6"})
										</div>
										<!-- Napomena/Help Field -->
										<div class="grid grid-cols-2 gap-2 mb-1 pl-2 items-start">
											@tmpl.TextInputField(domain.InputFieldConfig{
												ID:         "napomena",
												Name:       "napomena",
												LabelText:  "Napomena",
												FieldType:  "text",
												HasLabel:   true,
												Disabled:   false,
												ClassInput: utils.ClassInputTextEnabled + " min-w-[50px]",
												ClassLabel: utils.ClassLabel + " w-24",
												MinLength:  "0",
												MaxLength:  "1000",
												TabIndex:   "6"})
										</div>
									</div>
								</div>
								<!-- Currency Section -->
								<div class="bg-blue-50 border border-blue-400 flex-1 px-2 py-1 min-h-20">
									<div class="text-blue-800 font-bold text-xs mb-1">Devizna vrednost</div>
									<div class="grid grid-cols-2 gap-2 mb-1 items-start">
										<div class="grid grid-cols-2 flex items-center  gap-1">
											<label for="sifradev" class="text-xs text-gray-700">Šifra dev.</label>
											<div class="flex items-center px-1 gap-1">
												<input
													class="border border-gray-400 px-1 py-1 text-xs h-6"
													id="sifradev"
													value="0"
												/>
												<button class="bg-gray-200 border border-gray-400 px-1 py-1 text-xs h-6 hover:bg-gray-300">🔍</button>
											</div>
										</div>
										<div class="grid grid-cols-2 gap-2 px-2 mb-1 items-center">
											<label for="devizniiznos" class="text-xs text-gray-700">Devizni iznos</label>
											<input
												class="border border-gray-400 px-1 text-xs h-6 text-right"
												id="devizniiznos"
												value="0,00"
											/>
										</div>
									</div>
									<div class="grid grid-cols-4 gap-2 mb-1 px-1 items-center">
										<label for="kurs" class="text-xs text-gray-700">Kurs</label>
										<input
											class="border border-gray-400 px-1 py-1 text-xs h-6 text-right"
											id="kurs"
											value="0,0000"
										/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Table Section -->
					<div id="table_nalogstavke" class="flex-1 border border-gray-400 m-1 bg-white">
						<!-- Total Row -->
						<div class="bg-gray-100 border-t border-gray-400">
							<div class="grid grid-cols-12 gap-0 text-xs font-bold">
								<div class="p-2 border-r border-gray-300 col-span-9">Total:</div>
								<div class="p-2 border-r border-gray-300 text-right" id="total-duguje">0,00</div>
								<div class="p-2 border-r border-gray-300 text-right" id="total-potrazuje">0,00</div>
								<div class="p-2"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="notification" class="fixed top-5 right-5 px-4 py-3 bg-green-500 text-white rounded hidden"></div>
		<script>
        // Initialize the interface
        document.addEventListener('DOMContentLoaded', function() {
            loadOrderData();
        });
        
        // Load initial order data
        function loadOrderData() {
            htmx.ajax('GET', '/order/current', {
                target: '#order-details',
                swap: 'innerHTML'
            });
            
            htmx.ajax('GET', '/order/balance', {
                target: '.status-section',
                swap: 'innerHTML'
            });
        }
        
        // Handle HTMX events
        // document.addEventListener('htmx:afterRequest', function(evt) {
        //     if (evt.detail.successful) {
        //         showNotification('Podaci su uspešno ažurirani', 'success');
                
        //         // Update balance after any change
        //         if (evt.detail.pathInfo.path.includes('update-')) {
        //             htmx.ajax('GET', '/order/balance', {
        //                 target: '.status-section',
        //                 swap: 'innerHTML'
        //             });
        //         }
        //     } else {
        //         showNotification('Greška pri ažuriranju podataka', 'error');
        //     }
        // });
        
        // Show notification
        function showNotification(message, type = 'success') {
            const notification = document.getElementById('notification');
            notification.textContent = message;
            notification.className = `fixed top-5 right-5 px-4 py-3 text-white rounded block ${type === 'error' ? 'bg-red-500' : 'bg-green-500'}`;
            
            setTimeout(() => {
                notification.classList.add('hidden');
                notification.classList.remove('block');
            }, 3000);
        }
        
        // Handle order number updates
        document.addEventListener('htmx:afterSwap', function(evt) {
            if (evt.target.id === 'order-details') {
                const orderNumber = evt.target.getAttribute('data-order-number');
                if (orderNumber) {
                    document.getElementById('order-number').textContent = orderNumber;
                }
            }
        });
        
        // Keyboard shortcuts
        document.addEventListener('keydown', function(evt) {
            if (evt.ctrlKey && evt.key === 's') {
                evt.preventDefault();
                saveCurrentOrder();
            }
        });
        
        function saveCurrentOrder() {
            const orderNumber = document.getElementById('order-number').textContent;
            const processingDate = document.getElementById('processing-date').value;
            const orderDate = document.getElementById('order-date').value;
            
            htmx.ajax('POST', '/order/save', {
                values: {
                    orderNumber: orderNumber,
                    processingDate: processingDate,
                    orderDate: orderDate
                },
                target: '#order-details'
            });
        }
    </script>
	</div>
}
