package finansijsko

import (
	tmpl "helia/frontend/templates"
	"helia/i18n"
	"helia/internal/common"
	"helia/internal/domain"
)

templ NalogKnjizenjeStavke(fproDto domain.FproPayload, tblStavke domain.TableData, btnSave, btnPrint, btnClose, btnNazad domain.Button, searchInput domain.InputControl, translator *i18n.Service, csrfToken string) {
	<div id="nalog-stavke-dialog" class="fixed inset-0 flex items-center justify-center p-4 bg-black bg-opacity-50 z-50">
		<div class="bg-white rounded-lg shadow-xl w-[95vw] max-w-[1400px] h-[90vh] overflow-hidden">
			<div class="m-0 p-0 bg-gray-200 font-sans h-full flex flex-col">
				<form
					id="nalog-stavke-form"
					class="p-1 h-full flex flex-col min-h-0"
					if btnSave.HxRequestType == "PUT" {
						hx-put={ btnSave.HxActionURL }
						hx-on::after-request="handleFormResponse(event, 'PUT', null, true)"
					}
					if btnSave.HxRequestType == "POST" {
						hx-post={ btnSave.HxActionURL }
						hx-on::after-request="handleFormResponse(event, 'POST', null, true)"
					}
					hx-target="#dialog-form-message"
					hx-boost="false"
					onsubmit="return false;"
				>
					<div class="bg-gradient-to-r from-blue-300 to-blue-800 text-white px-1 font-bold text-sm relative flex justify-between items-center">
						<div>{ translator.Title("Knjiženje naloga") }</div>
						@tmpl.CloseButton(btnClose)
					</div>
					<input type="hidden" name="_csrf" value={ csrfToken }/>
					<div class="grid grid-cols-3 gap-1 mb-1">
						<fieldset class="bg-blue-200 border border-blue-400 col-span-2 p-1">
							<legend class="px-1 text-blue-800 font-bold text-xs leading-none">{ translator.Text("Podaci o nalogu u obradi") }</legend>
							<div class="grid grid-cols-3 gap-2 px-1">
								<!-- Left Column (1/2) -->
								<div class="col-span-1 flex flex-col gap-1">
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "brojnaloga",
											LabelText:  translator.Label("Broj naloga"),
											ClassLabel: common.ClassLabel + " text-blue-800 font-bold text-sm w-32 flex-shrink-0",
										})
										@tmpl.TextInputField(domain.InputFieldConfig{
											ID:         "brojnaloga",
											Name:       "brojnaloga",
											FieldType:  "text",
											Value:      fproDto.Tipdok + "-" + fproDto.Nalog,
											Disabled:   true,
											TabIndex:   "-1",
											ClassInput: common.ClassInputTextDisabled + " h-8 w-full font-bold text-blue-800 text-sm",
										})
									</div>
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "datumnaloga",
											LabelText:  translator.Label("Datum naloga"),
											ClassLabel: common.ClassLabel + " text-blue-800 font-bold text-sm w-32 flex-shrink-0",
										})
										@tmpl.TextInputField(domain.InputFieldConfig{
											ID:         "datumnaloga",
											Name:       "datumnaloga",
											FieldType:  "date",
											Value:      fproDto.Danal,
											Disabled:   true,
											TabIndex:   "-1",
											ClassInput: common.ClassInputTextDisabled + " text-blue-800 font-bold text-sm w-full",
										})
									</div>
								</div>
								<!-- Right Column (1/2) -->
								<div class="col-span-2 flex flex-col gap-1">
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "opis",
											LabelText:  translator.Label("Opis"),
											ClassLabel: common.ClassLabel + " text-blue-800 font-bold text-sm w-32 flex-shrink-0",
										})
										@tmpl.TextInputField(domain.InputFieldConfig{
											ID:         "opis",
											Name:       "opis",
											FieldType:  "text",
											Value:      fproDto.Opis,
											Disabled:   true,
											TabIndex:   "-1",
											ClassInput: common.ClassInputTextDisabled + " text-blue-800 font-bold text-sm w-full",
										})
									</div>
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "datumobrade",
											LabelText:  translator.Label("Datum obrade"),
											ClassLabel: common.ClassLabel + " text-blue-800 font-bold text-sm w-32 flex-shrink-0",
										})
										@tmpl.TextInputField(domain.InputFieldConfig{
											ID:         "datumobrade",
											Name:       "datumobrade",
											FieldType:  "date",
											Value:      fproDto.Datob,
											Disabled:   true,
											TabIndex:   "-1",
											ClassInput: common.ClassInputTextDisabled + " text-blue-800 font-bold text-sm w-full",
										})
									</div>
								</div>
							</div>
						</fieldset>
						<fieldset class="bg-blue-200 border border-blue-400 col-span-1 p-1">
							<legend class="px-1 text-blue-800 font-bold text-xs leading-none">{ translator.Text("Stanje naloga") }</legend>
							<div class="flex flex-col gap-1">
								<div class="grid grid-cols-2 gap-2 items-center">
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "nalduguje",
											LabelText:  translator.Label("Duguje"),
											ClassLabel: common.ClassLabel + " text-blue-800 font-bold text-xs w-24",
										})
										@tmpl.NumericInputField(domain.InputFieldConfig{
											ID:            "nalduguje",
											Disabled:      true,
											ClassInput:    common.ClassInputNumericDisabled + " text-blue-800 font-bold text-sm w-full",
											Value:         common.FormatNumberWithSystemLocale(fproDto.Duguje, 2),
											DecimalPlaces: 2,
											MaxLength:     "18",
											TabIndex:      "-1"})
									</div>
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "nalpotrazuje",
											LabelText:  translator.Label("Potrazuje"),
											ClassLabel: common.ClassLabel + " text-blue-800 font-bold text-xs w-24",
										})
										@tmpl.NumericInputField(domain.InputFieldConfig{
											ID:            "nalpotrazuje",
											Name:          "nalpotrazuje",
											Disabled:      true,
											ClassInput:    common.ClassInputNumericDisabled + " text-blue-800 font-bold text-sm w-full",
											Value:         common.FormatNumberWithSystemLocale(fproDto.Potrazuje, 2),
											DecimalPlaces: 2,
											MaxLength:     "18",
											TabIndex:      "-1"})
									</div>
								</div>
								<div class="grid grid-cols-2 gap-2 items-center">
									<div></div>
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "nalsaldo",
											LabelText:  translator.Label("Saldo"),
											ClassLabel: common.ClassLabel + " text-blue-800 font-bold text-xs w-24",
										})
										@tmpl.NumericInputField(domain.InputFieldConfig{
											ID:            "nalsaldo",
											Disabled:      true,
											ClassInput:    common.ClassInputNumericDisabled + " text-blue-800 font-bold text-sm w-full",
											Value:         common.FormatNumberWithSystemLocale(fproDto.Saldo, 2),
											DecimalPlaces: 2,
											MaxLength:     "18",
											TabIndex:      "6"})
									</div>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="m-0 bg-gray-200 font-sans flex-1 gap-1 min-h-0 flex flex-col">
						<!-- Top Section -->
						<div class="bg-blue-50 border border-blue-400 pl-1 min-h-20 shrink-0">
							<div class="text-blue-800 font-bold text-xs mb-1 border-b border-gray-400 pb-1">
								{ translator.Text("Osnovni podaci o stavci naloga") }
							</div>
							<!-- Form Fields -->
							<div class="grid grid-cols-2 mb-1">
								<!-- Left Column -->
								<div class="border border-blue-400 space-y-1 pt-1 px-1 flex flex-col">
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "konto",
											LabelText:  translator.Label("Konto"),
											ClassLabel: common.ClassLabel + " w-28",
										})
										@tmpl.TextInputField(domain.InputFieldConfig{
											ID:           "konto",
											Name:         "konto",
											FieldType:    "text",
											Disabled:     false,
											ClassInput:   common.ClassInputTextEnabled + " w-24",
											BlurEndpoint: "api/fkpl/trazikonto",
											HxTarget:     "kontonaziv",
											HxVals:       `js:{"konto": document.getElementById('konto').value, "vkonta": "2"}`,
											HxInclude:    "this",
											MinLength:    "2",
											MaxLength:    "6",
											TabIndex:     "1",
											OnInput:      "clearFieldError",
											OnFocus:      "clearFieldError"})
										@tmpl.SearchButton(domain.SearchButtonConfig{
											ID:          "btnkonto",
											Name:        "search-konto",
											HxUrl:       "/api/promet/searchbutton",
											HxTarget:    "#search-dropdown",
											HxSwap:      "innerHTML",
											HxVals:      `{"vkonta": "2"}`,
											ClassButton: common.ClassButton,
										})
										@tmpl.TextInputField(domain.InputFieldConfig{
											ID:         "kontonaziv",
											Name:       "kontonaziv",
											FieldType:  "text",
											Disabled:   true,
											ClassInput: common.ClassInputTextEnabled + " w-full",
											TabIndex:   "-1",
										})
									</div>
									<div class="flex items-center gap-1 mb-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "sifra",
											LabelText:  translator.Label("Sifra"),
											ClassLabel: common.ClassLabel + " w-28",
										})
										@tmpl.TextInputField(domain.InputFieldConfig{
											ID:           "sifra",
											Name:         "sifra",
											FieldType:    "text",
											Disabled:     false,
											ClassInput:   common.ClassInputTextEnabled + " w-24",
											BlurEndpoint: "api/fkpl/trazikonto",
											HxTarget:     "sifranaziv",
											HxVals:       `js:{"konto": document.getElementById('konto').value, "sifra": document.getElementById('sifra').value, "vkonta": "1"}`,
											HxInclude:    "this",
											MinLength:    "2",
											MaxLength:    "6",
											TabIndex:     "2",
											OnInput:      "clearFieldError",
											OnFocus:      "clearFieldError"})
										@tmpl.SearchButton(domain.SearchButtonConfig{
											ID:          "btnsifra",
											Name:        "search-sifra",
											HxUrl:       "/api/promet/searchbutton",
											HxTarget:    "#search-dropdown",
											HxSwap:      "innerHTML",
											HxVals:      `js:{"konto": document.getElementById('konto').value, "vkonta": "1"}`,
											ClassButton: common.ClassButton,
										})
										@tmpl.TextInputField(domain.InputFieldConfig{
											ID:         "sifranaziv",
											Name:       "sifranaziv",
											FieldType:  "text",
											Disabled:   true,
											ClassInput: common.ClassInputTextEnabled + " w-full",
											TabIndex:   "-1",
										})
									</div>
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "vrd",
											LabelText:  translator.Label("Vrsta dokumenta"),
											ClassLabel: common.ClassLabel + " w-28",
										})
										@tmpl.ComboBoxField(domain.ComboFieldConfig{
											ID:          "vrd",
											Name:        "vrd",
											Placeholder: "Izaberite vrstu dokumenta",
											HasLabel:    false,
											LabelText:   "Vrsta dokumenta",
											ClassLabel:  common.ClassLabel + " w-28",
											ClassSelect: common.ClassInputTextEnabled + " min-w-[80px]",
											Disabled:    false,
											TabIndex:    "3",
											OptionValues: []domain.ComboItem{
												{Key: "10", Value: "10-IZDAT RACUN KUPCU | d"},
												{Key: "20", Value: "20-PRIMLJEN RACUN OD DOBAVLJACA | p"},
												{Key: "30", Value: "30-IZVRSENA UPLATA | p"},
												{Key: "40", Value: "40-PRIMLJENA UPLATA | d"},
												{Key: "80", Value: "80-OPSTI DOKUMENTI | d/p"},
												{Key: "90", Value: "90-OPSTO KNJIZENJE | d/p"},
											},
										}, translator)
									</div>
									<div class="flex items-center gap-1 mb-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "opisknj",
											LabelText:  translator.Label("Opis knjizenja"),
											ClassLabel: common.ClassLabel + " w-28",
										})
										@tmpl.TextInputField(domain.InputFieldConfig{
											ID:          "opisknj",
											Name:        "opisknj",
											Placeholder: translator.Placeholder("unesite opis knjizenja"),
											FieldType:   "text",
											Disabled:    false,
											TabIndex:    "4",
											MaxLength:   "255",
											OnInput:     "clearFieldError",
											OnFocus:     "clearFieldError",
											ClassInput:  common.ClassInputTextEnabled + " w-full ",
										})
									</div>
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "magaciniid",
											LabelText:  translator.Label("Magacin"),
											ClassLabel: common.ClassLabel + " w-28",
										})
										@tmpl.ComboBoxField(domain.ComboFieldConfig{
											ID:           "magaciniid",
											Name:         "magaciniid",
											Placeholder:  translator.Placeholder("izaberite magacin"),
											Disabled:     false,
											ClassSelect:  common.ClassInputTextEnabled + " min-w-[80px] w-full",
											TabIndex:     "5",
											OptionValues: fproDto.CbxMagacin,
										}, translator)
									</div>
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "fispid",
											LabelText:  translator.Label("Mesto isporuke"),
											ClassLabel: common.ClassLabel + " w-28",
										})
										@tmpl.ComboBoxField(domain.ComboFieldConfig{
											ID:           "fispid",
											Name:         "fispid",
											Placeholder:  translator.Placeholder("izaberite mesto isporuke"),
											Disabled:     false,
											ClassSelect:  common.ClassInputTextEnabled + " min-w-[80px] w-full",
											TabIndex:     "6",
											OptionValues: fproDto.CbxMi,
										}, translator)
									</div>
									<div class="flex items-center gap-1">
										@tmpl.LabelField(domain.LabelFieldConfig{
											ID:         "komid",
											LabelText:  translator.Label("Komercijalista"),
											ClassLabel: common.ClassLabel + " w-28",
										})
										@tmpl.ComboBoxField(domain.ComboFieldConfig{
											ID:           "komid",
											Name:         "komid",
											Placeholder:  translator.Placeholder("izaberite komercijalistu"),
											Disabled:     false,
											ClassSelect:  common.ClassInputTextEnabled + " min-w-[80px] w-full",
											TabIndex:     "7",
											OptionValues: fproDto.CbxKomercijalista,
										}, translator)
									</div>
									<!-- Amount Section -->
									<div class="flex flex-col gap-2 mb-4">
										<div class="flex items-start justify-center">
											<div class="flex flex-col gap-1 items-center">
												<div class="w-44 border-b-2 border-gray-800 pb-1 text-center font-bold text-sm">
													{ translator.Label("Duguje") }
												</div>
												@tmpl.NumericInputField(domain.InputFieldConfig{
													ID:            "duguje",
													Name:          "duguje",
													Disabled:      false,
													ClassInput:    common.ClassInputTextEnabled + " w-44 text-right",
													Value:         "0,00",
													DecimalPlaces: 2,
													MinLength:     "0",
													MaxLength:     "18",
													TabIndex:      "8",
													OnInput:       "clearFieldError",
													OnFocus:       "clearFieldError",
												})
											</div>
											<div class="flex flex-col items-center">
												<div class="w-8 border-b-2 border-gray-800 mt-6"></div>
												<div class="border-l-2 border-gray-800 h-7"></div>
											</div>
											<div class="flex flex-col gap-1 items-center">
												<div class="w-44 border-b-2 border-gray-800 pb-1 text-center font-bold text-sm">
													{ translator.Label("Potražuje") }
												</div>
												@tmpl.NumericInputField(domain.InputFieldConfig{
													ID:            "potrazuje",
													Name:          "potrazuje",
													Disabled:      false,
													ClassInput:    common.ClassInputTextEnabled + " w-44 text-right",
													Value:         "0,00",
													DecimalPlaces: 2,
													MinLength:     "0",
													MaxLength:     "18",
													TabIndex:      "9",
													OnInput:       "clearFieldError",
													OnFocus:       "clearFieldError",
												})
											</div>
										</div>
									</div>
									<!-- Action Buttons -->
									<div class="flex justify-end gap-1 mt-auto pt-4">
										@tmpl.SaveButton(btnSave, translator)
										@tmpl.PrintButton(btnPrint, translator)
										@tmpl.Button(btnNazad, translator)
									</div>
									<!-- Message Display Area at Bottom -->
									<div id="dialog-form-message" class="hidden w-full whitespace-normal break-words"></div>
								</div>
								<!-- Right Column -->
								<div class="space-y-1 px-1">
									<div class="bg-blue-50 border border-blue-400 flex-1 px-1 py-1 space-y-1">
										<div class="flex items-center gap-2">
											@tmpl.LabelField(domain.LabelFieldConfig{
												ID:         "idorgjed",
												LabelText:  translator.Label("Org. Jedinica"),
												ClassLabel: common.ClassLabel + " w-40 whitespace-nowrap",
											})
											@tmpl.ComboBoxField(domain.ComboFieldConfig{
												ID:           "idorgjed",
												Name:         "idorgjed",
												Placeholder:  translator.Placeholder("izaberite organizacionu jedinicu"),
												Disabled:     false,
												ClassSelect:  common.ClassInputTextEnabled + " w-full",
												TabIndex:     "10",
												OptionValues: fproDto.CbxOrgjed,
											}, translator)
										</div>
										<div class="flex items-center gap-2">
											@tmpl.LabelField(domain.LabelFieldConfig{
												ID:         "mestotrid",
												LabelText:  translator.Label("Mesto troska"),
												ClassLabel: common.ClassLabel + " w-40 whitespace-nowrap",
											})
											@tmpl.ComboBoxField(domain.ComboFieldConfig{
												ID:           "mestotrid",
												Name:         "mestotrid",
												Placeholder:  "izaberite mesto troska...",
												Disabled:     false,
												ClassSelect:  common.ClassInputTextEnabled + " w-full",
												TabIndex:     "11",
												OnInput:      "clearFieldError",
												OnFocus:      "clearFieldError",
												OptionValues: fproDto.CbxMtroska,
											}, translator)
										</div>
									</div>
									<!-- Document Section -->
									<fieldset class="bg-blue-50 border border-blue-400 flex-1 p-1 min-h-20">
										<legend class="px-1 text-blue-800 font-bold text-xs leading-none">{ translator.Text("Podaci o dokum/uplati/isplati") }</legend>
										<div class="flex items-center gap-4 mb-1">
											<div class="flex items-center gap-2 flex-1 min-w-0">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "dokum",
													LabelText:  translator.Label("Broj Dokumenta"),
													ClassLabel: common.ClassLabel + " w-40",
												})
												@tmpl.TextInputField(domain.InputFieldConfig{
													ID:         "dokum",
													Name:       "dokum",
													FieldType:  "text",
													Disabled:   false,
													ClassInput: common.ClassInputTextEnabled + " flex-1 min-w-[100px]",
													MinLength:  "0",
													MaxLength:  "10",
													TabIndex:   "12",
													OnInput:    "clearFieldError",
													OnFocus:    "clearFieldError"})
												<span id="dokum-error" class="field-error-inline text-red-500 text-xs whitespace-normal break-words"></span>
											</div>
											<div class="flex items-center gap-2 flex-1 min-w-0 justify-between">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "tra",
													LabelText:  translator.Label("Godina dokumenta"),
													ClassLabel: common.ClassLabel + " w-40 whitespace-nowrap",
												})
												@tmpl.NumericInputField(domain.InputFieldConfig{
													ID:         "tra",
													Name:       "tra",
													Disabled:   false,
													ClassInput: common.ClassInputTextEnabled + " w-40 ml-auto",
													MinLength:  "0",
													MaxLength:  "4",
													TabIndex:   "13",
													OnInput:    "clearFieldError",
													OnFocus:    "clearFieldError"})
												<span id="tra-error" class="field-error-inline text-red-500 text-xs whitespace-normal break-words"></span>
											</div>
										</div>
										<div class="flex items-center gap-4 mb-1">
											<div class="flex items-center gap-2 flex-1 min-w-0">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "dadok",
													LabelText:  translator.Label("Datum dokumenta"),
													ClassLabel: common.ClassLabel + " w-40",
												})
												@tmpl.TextInputField(domain.InputFieldConfig{
													ID:         "dadok",
													Name:       "dadok",
													FieldType:  "date",
													Disabled:   false,
													ClassInput: common.ClassInputTextEnabled + " flex-1 min-w-[100px]",
													TabIndex:   "14",
													OnInput:    "clearFieldError",
													OnFocus:    "clearFieldError"})
												<span id="dadok-error" class="field-error-inline text-red-500 text-xs whitespace-normal break-words"></span>
											</div>
											<div class="flex items-center gap-2 flex-1 min-w-0">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "rok",
													LabelText:  translator.Label("Rok"),
													ClassLabel: common.ClassLabel + " w-40",
												})
												@tmpl.NumericInputField(domain.InputFieldConfig{
													ID:            "rok",
													FieldType:     "text",
													Disabled:      false,
													ClassInput:    common.ClassInputTextEnabled + " flex-1 min-w-[100px]",
													Value:         "0",
													DecimalPlaces: 0,
													MinLength:     "0",
													MaxLength:     "4",
													TabIndex:      "15",
													OnInput:       "clearFieldError",
													OnFocus:       "clearFieldError"})
											</div>
										</div>
										<div class="text-xs text-gray-600 italic py-1 border-t border-gray-300 mb-1">
											{ translator.Text("vezni_dokument_opis") }
										</div>
										<div class="flex items-center gap-4 mb-1">
											<div class="flex items-center gap-2 flex-1 min-w-0">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "dokvezni",
													LabelText:  translator.Label("Br. Veznog Dokumenta"),
													ClassLabel: common.ClassLabel + " w-40",
												})
												@tmpl.TextInputField(domain.InputFieldConfig{
													ID:         "dokvezni",
													Name:       "dokvezni",
													FieldType:  "text",
													Disabled:   false,
													ClassInput: common.ClassInputTextEnabled + " flex-1 min-w-[100px]",
													MinLength:  "0",
													MaxLength:  "10",
													TabIndex:   "16",
													OnInput:    "clearFieldError",
													OnFocus:    "clearFieldError"})
												<span id="dokvezni-error" class="field-error-inline text-red-500 text-xs whitespace-normal break-words"></span>
											</div>
											<div class="flex items-center gap-2 flex-1 min-w-0 justify-between">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "godvezni",
													LabelText:  translator.Label("God. Veznog Dokumenta"),
													ClassLabel: common.ClassLabel + " w-40 whitespace-nowrap",
												})
												@tmpl.NumericInputField(domain.InputFieldConfig{
													ID:         "godvezni",
													Name:       "godvezni",
													Disabled:   false,
													ClassInput: common.ClassInputTextEnabled + " w-40 ml-auto",
													MinLength:  "0",
													MaxLength:  "4",
													TabIndex:   "17",
													OnInput:    "clearFieldError",
													OnFocus:    "clearFieldError"})
												<span id="travez-error" class="field-error-inline text-red-500 text-xs whitespace-normal break-words"></span>
											</div>
										</div>
										<div class="flex items-center gap-4 mb-1">
											<div class="flex items-center gap-2 flex-1 min-w-0">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "dadokv",
													LabelText:  translator.Label("Datum veznog dokumenta"),
													ClassLabel: common.ClassLabel + " w-40",
												})
												@tmpl.TextInputField(domain.InputFieldConfig{
													ID:         "dadokv",
													Name:       "dadokv",
													FieldType:  "date",
													Disabled:   false,
													ClassInput: common.ClassInputTextEnabled + " flex-1 min-w-[100px]",
													TabIndex:   "18",
													OnInput:    "clearFieldError",
													OnFocus:    "clearFieldError"})
											</div>
											<div class="flex items-center gap-2 flex-1 min-w-0">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "napomena",
													LabelText:  translator.Label("Napomena"),
													ClassLabel: common.ClassLabel + " w-40",
												})
												@tmpl.TextInputField(domain.InputFieldConfig{
													ID:         "napomena",
													Name:       "napomena",
													FieldType:  "text",
													Disabled:   false,
													ClassInput: common.ClassInputTextEnabled + " flex-1 min-w-[100px]",
													MinLength:  "0",
													MaxLength:  "1000",
													TabIndex:   "19",
													OnInput:    "clearFieldError",
													OnFocus:    "clearFieldError"})
											</div>
										</div>
									</fieldset>
									<!-- Currency Section -->
									<fieldset class="bg-blue-50 border border-blue-400 flex-1 p-1 min-h-20">
										<legend class="px-1 text-blue-800 font-bold text-xs leading-none">{ translator.Text("Devizna vrednost") }</legend>
										<div class="flex items-center gap-2 mb-1">
											@tmpl.LabelField(domain.LabelFieldConfig{
												ID:         "idvalute",
												LabelText:  translator.Label("Šifra valute"),
												ClassLabel: common.ClassLabel + " w-40",
											})
											@tmpl.ComboBoxField(domain.ComboFieldConfig{
												ID:           "idvalute",
												Name:         "idvalute",
												Placeholder:  translator.Placeholder("izaberite valutu"),
												Disabled:     false,
												ClassSelect:  common.ClassInputTextEnabled + " w-full",
												TabIndex:     "20",
												OnInput:      "clearFieldError",
												OnFocus:      "clearFieldError",
												OptionValues: fproDto.CbxValute,
											}, translator)
										</div>
										<div class="flex items-center gap-4 mb-1">
											<div class="flex items-center gap-2 flex-1 min-w-0">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "kurs",
													LabelText:  translator.Label("Kurs"),
													ClassLabel: common.ClassLabel + " w-40",
												})
												@tmpl.NumericInputField(domain.InputFieldConfig{
													ID:            "kurs",
													Disabled:      false,
													ClassInput:    common.ClassInputTextEnabled + " text-right flex-1 min-w-[100px]",
													Value:         "0",
													DecimalPlaces: 4,
													MinLength:     "0",
													MaxLength:     "10",
													TabIndex:      "21",
													OnInput:       "clearFieldError",
													OnFocus:       "clearFieldError"})
												<span id="kurs-error" class="field-error-inline text-red-500 text-xs whitespace-normal break-words"></span>
											</div>
											<div class="flex items-center gap-2 flex-1 min-w-0">
												@tmpl.LabelField(domain.LabelFieldConfig{
													ID:         "deviznos",
													LabelText:  translator.Label("Devizni iznos"),
													ClassLabel: common.ClassLabel + " w-40",
												})
												@tmpl.NumericInputField(domain.InputFieldConfig{
													ID:            "deviznos",
													Name:          "deviznos",
													Disabled:      false,
													Pattern:       "[0-9]*",
													ClassInput:    common.ClassInputTextEnabled + " text-right flex-1 min-w-[100px]",
													DecimalPlaces: 2,
													Value:         "0",
													MinLength:     "0",
													MaxLength:     "16",
													TabIndex:      "22",
													OnInput:       "clearFieldError",
													OnFocus:       "clearFieldError"})
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<!-- Table Section -->
						<div id="table-stavke-container" class="border bg-blue-100 border border-blue-400 p-1 rounded-lg flex flex-col flex-1 min-h-0 overflow-hidden relative">
							@tmpl.LoadingSpinner()
							@tmpl.Search_Part(tblStavke, searchInput)
							<!-- Table -->
							<div class="flex-1 min-h-0 overflow-auto">
								@tmpl.Table(tblStavke, translator)
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div id="notification" class="fixed top-5 right-5 px-4 py-3 bg-green-500 text-white rounded hidden"></div>
	</div>
}
