package finansijsko

import (
	"fmt"
	tmpl "helia/frontend/templates"
	"helia/internal/common"
	"helia/internal/domain"
	"helia/internal/i18n"
)

var tabClasses string

const (
	dateLayout string = "02.01.2006"
)

templ NaloziContent(tabs domain.TabData, tipdokValues []domain.ComboItem, ukObrada domain.UkupnaObrada, btnSave, btnNoviNalog domain.Button, tbl domain.TableData, searchControl domain.InputControl, nalogPayload domain.FnalPayload, translator *i18n.Service) {
	<div id="main-content" class="border-b border-gray-200">
		@NaloziNav(tabs, translator)
		<div id="main-content">
			@NaloziKnjizenjeContent(tipdokValues, ukObrada, btnSave, btnNoviNalog, tbl, searchControl, nalogPayload, translator)
		</div>
	</div>
}

templ NaloziNav(tabs domain.TabData, translator *i18n.Service) {
	<h2 class="text-xl font-semibold">{ translator.Label("text.nalozi_za_knjizenje") }</h2>
	<nav class="py-1 h-8 text-sm font-medium text-gray-700 flex items-center whitespace-nowrap" aria-label="Tabs">
		for _, item := range tabs.Tabs {
			<input id={ fmt.Sprintf("tab%s", item.Name) } type="hidden" name="sourceTab" value={ item.Name }/>
			<button
				id={ item.ID }
				if item.IsActive {
					class="whitespace-nowrap rounded-t-lg py-1 px-1 font-medium text-sm rounded-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
				} else {
					class="whitespace-nowrap rounded-t-lg py-1 px-1 font-medium text-sm rounded-sm text-gray-600 bg-white border border-gray-300 hover:text-blue-700 hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-500"
				}
				hx-get={ item.HXRequestUrl }
				hx-target="#main-content"
				hx-swap="innerHTML"
				aria-controls="knjizenje-panel"
				aria-selected={ fmt.Sprintf("%v", item.IsActive) }
			>
				{ item.Label }
			</button>
		}
	</nav>
}

templ NaloziKnjizenjeContent(tipdokValues []domain.ComboItem, ukObrada domain.UkupnaObrada, btnSave, btnNoviNalog domain.Button, tbl domain.TableData, searchControl domain.InputControl, nalogPayload domain.FnalPayload, translator *i18n.Service) {
	@NaloziKnjizenjeHeader(tipdokValues, ukObrada, btnSave, btnNoviNalog, nalogPayload, translator)
	@tmpl.Search_Part(tbl, searchControl)
	<div id="table-container" class="mt-1">
		@tmpl.Table(tbl, translator)
		<div id="nalozi_stavke" class="border-b border-gray-200"></div>
	</div>
	<div id="dialog-confirm"></div>
	<div id="dialog-stavkenaloga"></div>
}

templ NaloziKnjizenjeHeader(tipdokValues []domain.ComboItem, ukObrada domain.UkupnaObrada, btnSave, btnNoviNalog domain.Button, nalogPayload domain.FnalPayload, translator *i18n.Service) {
	<div class="grid grid-cols-3 gap-6 py-2">
		<div id="fin-nalozi" class="pt-2 col-span-2 flex flex-col gap-1">
			<form
				id="form-nalozi"
				hx-post={ btnSave.HxActionURL }
				hx-target="#info-message"
				hx-boost="false"
				onsubmit="return false;"
			>
				<!-- First row: Combo for Vrsta naloga za knjiženje -->
				<div class="flex items-center">
					@tmpl.LabelField(domain.LabelFieldConfig{
						ID:         "tipdok",
						LabelText:  "Vrsta Naloga za knjiženje",
						ClassLabel: common.ClassLabel + " w-40 ",
					})
					@tmpl.ComboBoxField(domain.ComboFieldConfig{
						ID:             "tipdok",
						Name:           "tipdok",
						Placeholder:    translator.Placeholder("Select"),
						HasLabel:       true,
						Disabled:       false,
						ClassSelect:    common.ClassSelect + " flex-1 ",
						HxSwap:         "innerHTML",
						HxChangeTarget: "nalozi-table",
						HxVals:         `js:{"tipdok": document.getElementById("tipdok").value}`,
						OptionValues:   tipdokValues,
						ChangeEndpoint: "/api/nalozi/all/tipdok",
					}, translator)
				</div>
				<!-- Second row: Broj naloga, Datum naloga, Datum obrade -->
				<div class="flex flex-1 items-center py-1">
					@tmpl.LabelField(domain.LabelFieldConfig{
						ID:         "nalog",
						LabelText:  "Broj Naloga",
						ClassLabel: common.ClassLabel + " w-40",
					})
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:               "nalog",
						Name:             "nalog",
						FieldType:        "text",
						Value:            nalogPayload.Nalog,
						Disabled:         false,
						ClassInput:       common.ClassInputTextEnabled,
						HxTarget:         "nalog",
						HxGet:            "/api/nalozi/nextnalog",
						HxTrigger:        "change from:select[name='tipdok']",
						HxInclude:        "select[name='tipdok']",
						HxOnAfterRequest: "handleNextNalogResponse",
						MinLength:        "1",
						MaxLength:        "10",
						TabIndex:         "1",
						OnInput:          "clearFieldError"})
					@tmpl.LabelField(domain.LabelFieldConfig{
						ID:         "danal",
						LabelText:  "Datum Naloga",
						ClassLabel: common.ClassLabel + " pl-4 pr-2 ",
					})
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "danal",
						Name:       "danal",
						Value:      nalogPayload.Danal,
						FieldType:  "date",
						Disabled:   false,
						ClassInput: common.ClassInputTextEnabled + " pl-2 w-full",
						TabIndex:   "2",
						OnInput:    "clearFieldError"})
					@tmpl.LabelField(domain.LabelFieldConfig{
						ID:         "datob",
						LabelText:  "Datum Obrade",
						ClassLabel: common.ClassLabel + " pl-5 pr-2 ",
					})
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "datob",
						Name:       "datob",
						Value:      nalogPayload.Datob,
						FieldType:  "date",
						Disabled:   false,
						ClassInput: common.ClassInputTextEnabled + " pl-2 w-full",
						TabIndex:   "3",
						OnInput:    "clearFieldError"})
				</div>
				<!-- Third row: Opis knjiženja -->
				<div class="flex items-center">
					@tmpl.LabelField(domain.LabelFieldConfig{
						ID:         "opisKnjizenja",
						LabelText:  "Opis Knjiženja",
						ClassLabel: common.ClassLabel + " w-40 ",
					})
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "opisKnjizenja",
						FieldType:  "text",
						Disabled:   false,
						ClassInput: common.ClassInputTextEnabled + " w-full",
						HxTarget:   "opisKnjizenja",
						MinLength:  "0",
						MaxLength:  "120",
						TabIndex:   "4"})
				</div>
				<!-- Fourth row: Buttons -->
				<div class="flex items-center justify-end pt-8 space-x-1">
					@tmpl.SaveButton(btnSave, translator)
					@tmpl.AddButton(btnNoviNalog, translator)
				</div>
			</form>
		</div>
		<div class="p-1 flex flex-col">
			<p class="block text-sm font-medium text-blue-700 mb-1">Prikaz ukupne obrade</p>
			<div class="box-content flex flex-col p-1 border-2 border-gray-300 rounded-md">
				<div class="flex items-center space-x-2 mb-1">
					@tmpl.LabelField(domain.LabelFieldConfig{
						ID:         "ukupnoNaloga",
						LabelText:  "Ukupno Naloga",
						ClassLabel: common.ClassLabel + " w-[60%]",
					})
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:        "ukupnoNaloga",
						Value:     ukObrada.UkNaloga,
						FieldType: "text",
					
						Disabled:   true,
						ClassInput: common.ClassInputTextDisabled,
					})
				</div>
				<div class="flex items-center space-x-2 mb-1">
					@tmpl.LabelField(domain.LabelFieldConfig{
						ID:         "ukupnoStavki",
						LabelText:  "Ukupno Stavki",
						ClassLabel: common.ClassLabel + " w-[60%]",
					})
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:        "ukupnoStavki",
						Value:     ukObrada.UkStavki,
						FieldType: "text",
					
						Disabled:   true,
						ClassInput: common.ClassInputTextDisabled,
					})
				</div>
				<div class="flex items-center space-x-2 mb-1">
					@tmpl.LabelField(domain.LabelFieldConfig{
						ID:         "duguje",
						LabelText:  "Duguje",
						ClassLabel: common.ClassLabel + " w-[60%]",
					})
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "duguje",
						Value:      ukObrada.Duguje,
						FieldType:  "text",
						Disabled:   true,
						ClassInput: common.ClassInputTextDisabled,
					})
				</div>
				<div class="flex items-center space-x-2 mb-1">
					@tmpl.LabelField(domain.LabelFieldConfig{
						ID:         "duguje",
						LabelText:  "Potrazuje",
						ClassLabel: common.ClassLabel + " w-[60%]",
					})
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "potrazuje",
						Value:      ukObrada.Potrazuje,
						FieldType:  "text",
						Disabled:   true,
						ClassInput: common.ClassInputTextDisabled,
					})
				</div>
			</div>
		</div>
	</div>
	@tmpl.ShowMessage()
}

templ NaloziSave() {
	<div class="flex justify-between items-center mb-4">
		<h1 class="text-2xl font-bold">Nalozi</h1>
		<div class="flex space-x-2">
			<button class="btn btn-primary" hx-get="/nalozi/create" hx-target="#dialog-container" hx-swap="innerHTML">Dodaj</button>
			<button class="btn btn-secondary" onclick="toggleSearch(this)">Pretraga</button>
		</div>
	</div>
}

templ NaloziHeader(tblHeader domain.TableData, translator *i18n.Service) {
	<div class="border-b border-gray-200 mb-4">
		@tmpl.Table(tblHeader, translator)
	</div>
}

templ NaloziDetail(tblStavke domain.TableData, searchControl domain.InputControl, translator *i18n.Service) {
	@tmpl.Search_Part(tblStavke, searchControl)
	<div id="table-container" class="mt-1">
		@tmpl.Table(tblStavke, translator)
		<div id="nalozi_stavke" class="border-b border-gray-200"></div>
	</div>
}

templ NaloziKopiranje(tabs domain.TabData, tblHeader, tblStavke domain.TableData, searchControl domain.InputControl, translator *i18n.Service) {
	@NaloziNav(tabs, translator)
	<div>
		@tmpl.Search_Part(tblHeader, searchControl)
		@NaloziHeader(tblHeader, translator)
		<div id="nalozi_kopiranje" class="border-b border-gray-200"></div>
	</div>
}

templ NaloziStorniranje(tabs domain.TabData, tblHeader, tblStavke domain.TableData, searchControl domain.InputControl, translator *i18n.Service) {
	@NaloziNav(tabs, translator)
	<div>
		@tmpl.Search_Part(tblHeader, searchControl)
		@NaloziHeader(tblHeader, translator)
		<div id="nalozi_storniranje" class="border-b border-gray-200"></div>
	</div>
}

templ NaloziStampanje(tabs domain.TabData, tblHeader, tblStavke domain.TableData, btnStampaj domain.Button, searchControl domain.InputControl, translator *i18n.Service) {
	@NaloziNav(tabs, translator)
	<div>
		@tmpl.Search_Part(tblHeader, searchControl)
		@NaloziHeader(tblHeader, translator)
		<div id="nalozi_kopiranje_stavke" class="border-b border-gray-200"></div>
	</div>
}

templ NaloziKopiranjeDialog(model domain.KopirajNalog, btnSave domain.Button, translator *i18n.Service) {
	<div class="text-blue-800 font-bold text-sm mb-1">
		Podaci o nalogu iz kojeg se kopira
	</div>
	<div class="box-content flex flex-col p-2 border-2 border-gray-300 rounded-md">
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "vrstanalogaold",
				LabelText:  translator.Label("Vrsta naloga"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "vrstanalogaold",
				Name:       "vrstanalogaold",
				Value:      model.TipdokOld,
				FieldType:  "text",
				Disabled:   true,
				ClassInput: common.ClassInputTextDisabled + " w-full",
			})
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "brojnalogaold",
				LabelText:  translator.Label("Broj naloga"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "brojnalogaold",
				Name:       "brojnalogaold",
				Value:      model.NalogOld,
				FieldType:  "text",
				Disabled:   true,
				ClassInput: common.ClassInputTextDisabled + " w-42",
			})
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "datumknjold",
				LabelText:  translator.Label("Datum naloga"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "datumknjold",
				Name:       "datumnknjold",
				Value:      model.DatKnjOld,
				FieldType:  "text",
				Disabled:   true,
				ClassInput: common.ClassInputTextDisabled,
			})
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "datumobradeold",
				LabelText:  translator.Label("Datum Obrade"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "datumobradeold",
				Name:       "datumobradeold",
				Value:      model.DanalOld,
				FieldType:  "text",
				Disabled:   true,
				ClassInput: common.ClassInputTextDisabled,
			})
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "opisknjizenjaold",
				LabelText:  translator.Label("Opis knjizenja"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "opisknjizenjaold",
				Name:       "opisknjizenjaold",
				Value:      model.OpisOld,
				Disabled:   true,
				FieldType:  "text",
				ClassInput: common.ClassInputTextDisabled + " w-full",
			})
		</div>
	</div>
	<!-- Full-width Description Section -->
	<div class="text-blue-800 font-bold text-sm mb-1">
		Podaci o novom nalogu
	</div>
	<div class="box-content flex flex-col p-2 border-2 border-gray-300 rounded-md">
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "opisknjizenjaold",
				LabelText:  translator.Label("Vrsta Naloga"),
				ClassLabel: common.ClassLabel + " w-24 ",
			})
			@tmpl.ComboBoxField(domain.ComboFieldConfig{
				ID:             "tipdok",
				Name:           "tipdok",
				Placeholder:    translator.Placeholder("Select"),
				Disabled:       false,
				ClassSelect:    common.ClassSelect + " w-full ",
				HxSwap:         "innerHTML",
				HxChangeTarget: "vrstanaloganew",
				HxVals:         `js:{"tipdok": document.getElementById("tipdok").value}`,
				OptionValues:   model.TipdokValues,
			}, translator)
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "nalog-label",
				LabelText:  translator.Label("Broj naloga"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:               "nalog",
				Name:             "nalog",
				Value:            model.NalogNew,
				FieldType:        "text",
				Disabled:         false,
				ClassInput:       common.ClassInputTextEnabled,
				HxGet:            "/api/nalozi/nextnalog",
				HxTrigger:        "change from:select[name='tipdok']",
				HxInclude:        "select[name='tipdok']",
				HxOnAfterRequest: "handleNextNalogResponse",
				OnInput:          "clearFieldError",
			})
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "danal-label",
				LabelText:  translator.Label("Datum naloga"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "danal",
				Name:       "danal",
				Value:      model.DanalNew,
				FieldType:  "date",
				Disabled:   false,
				ClassInput: common.ClassInputTextEnabled + " w-full",
				OnInput:    "clearFieldError",
			})
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "datob-label",
				LabelText:  translator.Label("Datum Obrade"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "datob",
				Name:       "datob",
				Value:      model.DatknjNew,
				FieldType:  "date",
				Disabled:   false,
				ClassInput: common.ClassInputTextDisabled + " w-full",
				OnInput:    "clearFieldError",
			})
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "opis-label",
				LabelText:  translator.Label("Opis knjizenja"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "opis",
				Name:       "opis",
				Value:      model.OpisNew,
				FieldType:  "text",
				Disabled:   false,
				ClassInput: common.ClassInputTextEnabled + " w-full",
			})
		</div>
	</div>
}

templ NaloziStorniranjeDialog(model domain.KopirajNalog, btnSave domain.Button, translator *i18n.Service) {
	<div class="text-blue-800 font-bold text-sm mb-1">
		Podaci o nalogu koji se stornira
	</div>
	<div class="box-content flex flex-col p-2 border-2 border-gray-300 rounded-md">
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "vrstanalogaold",
				LabelText:  translator.Label("Vrsta naloga"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "vrstanalogaold",
				Name:       "vrstanalogaold",
				Value:      model.TipdokOld,
				FieldType:  "text",
				Disabled:   true,
				ClassInput: common.ClassInputTextDisabled + " w-full",
			})
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "brojnalogaold",
				LabelText:  translator.Label("Broj naloga"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "brojnalogaold",
				Name:       "brojnalogaold",
				Value:      model.NalogOld,
				FieldType:  "text",
				Disabled:   true,
				ClassInput: common.ClassInputTextDisabled + " w-42",
			})
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "datumknjold",
				LabelText:  translator.Label("Datum naloga"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "datumknjold",
				Name:       "datumnknjold",
				Value:      model.DatKnjOld,
				FieldType:  "text",
				Disabled:   true,
				ClassInput: common.ClassInputTextDisabled,
			})
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "datumobradeold",
				LabelText:  translator.Label("Datum Obrade"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "datumobradeold",
				Name:       "datumobradeold",
				Value:      model.DanalOld,
				FieldType:  "text",
				Disabled:   true,
				ClassInput: common.ClassInputTextDisabled,
			})
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "opisknjizenjaold",
				LabelText:  translator.Label("Opis knjizenja"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "opisknjizenjaold",
				Name:       "opisknjizenjaold",
				Value:      model.OpisOld,
				Disabled:   true,
				FieldType:  "text",
				ClassInput: common.ClassInputTextDisabled + " w-full",
			})
		</div>
	</div>
	<!-- Storniranje Details Section -->
	<div class="text-blue-800 font-bold text-sm mb-1">
		Podaci o storniranju naloga
	</div>
	<div class="box-content flex flex-col p-2 border-2 border-gray-300 rounded-md">
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "datumstorniranja-label",
				LabelText:  translator.Label("Datum storniranja"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "datumstorniranja",
				Name:       "datumstorniranja",
				Value:      model.DanalNew,
				FieldType:  "date",
				Disabled:   false,
				ClassInput: common.ClassInputTextEnabled + " w-full",
				OnInput:    "clearFieldError",
			})
		</div>
		<div class="flex items-center space-x-2 mb-1">
			@tmpl.LabelField(domain.LabelFieldConfig{
				ID:         "razlogstorniranja-label",
				LabelText:  translator.Label("Razlog storniranja"),
				ClassLabel: common.ClassLabel + " w-24",
			})
			@tmpl.TextInputField(domain.InputFieldConfig{
				ID:         "razlogstorniranja",
				Name:       "razlogstorniranja",
				Value:      model.OpisNew,
				FieldType:  "text",
				Disabled:   false,
				ClassInput: common.ClassInputTextEnabled + " w-full",
				OnInput:    "clearFieldError",
			})
		</div>
	</div>
}

templ NaloziScript() {
	<script>
        document.addEventListener('htmx:afterSwap', function(event) {
    		console.log('HTMX After Swap:', event.detail.target);
			const tabs = document.querySelectorAll('nav button');
            const tabContent = document.getElementById('tab-content');

            tabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    // Remove active classes from all tabs
                    tabs.forEach(t => {
                        t.classList.remove('text-blue-600', 'border-blue-600');
                        t.classList.add('text-gray-500', 'border-transparent', 'hover:text-gray-700', 'hover:border-gray-300');
                        t.setAttribute('aria-selected', 'false');
                    });

                    // Add active classes to the clicked tab
                    tab.classList.add('text-blue-600', 'border-blue-600');
                    tab.classList.remove('text-gray-500', 'border-transparent', 'hover:text-gray-700', 'hover:border-gray-300');
                    tab.setAttribute('aria-selected', 'true');
                });
            });

            // Trigger click on the first tab to load its content on page load
            document.getElementById('knjizenje-tab').click();
        });
    </script>
}
