package finansijsko

import (
	"fmt"
	tmpl "helia/frontend/templates"
	"helia/internal/domain"
	"helia/pkg/utils"
	"time"
)

var tabClasses string

templ NaloziContent(tabs domain.TabData, tipdokValues []domain.ComboItem, ukObrada domain.UkupnaObrada, btnSave, btnNoviNalog domain.Button, tbl domain.TableData, searchControl domain.InputControl) {
	<div id="main-content" class="border-b border-gray-200">
		@NaloziNav(tabs)
		<div id="main-content">
			@NaloziKnjizenjeContent(tipdokValues, ukObrada, btnSave, btnNoviNalog, tbl, searchControl)
		</div>
	</div>
}

templ NaloziNav(tabs domain.TabData) {
	<h2 class="text-xl font-semibold">NALOZI ZA KNJIZENJE</h2>
	<nav class="py-1 h-8 text-sm font-medium text-gray-700 flex items-center whitespace-nowrap" aria-label="Tabs">
		for _, item := range tabs.Tabs {
			<input id={ fmt.Sprintf("tab%s", item.Name) } type="hidden" name="sourceTab" value={ item.Name }/>
			<button
				id={ item.ID }
				if item.IsActive {
					class="whitespace-nowrap rounded-t-lg py-1 px-1 font-medium text-sm rounded-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
				} else {
					class="whitespace-nowrap rounded-t-lg py-1 px-1 font-medium text-sm rounded-sm text-gray-600 bg-white border border-gray-300 hover:text-blue-700 hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-500"
				}
				hx-get={ item.HXRequestUrl }
				hx-target="#main-content"
				hx-swap="innerHTML"
				aria-controls="knjizenje-panel"
				aria-selected={ fmt.Sprintf("%v", item.IsActive) }
			>
				{ item.Label }
			</button>
		}
	</nav>
}

templ NaloziKnjizenjeContent(tipdokValues []domain.ComboItem, ukObrada domain.UkupnaObrada, btnSave, btnNoviNalog domain.Button, tbl domain.TableData, searchControl domain.InputControl) {
	@NaloziKnjizenjeHeader(tipdokValues, ukObrada, btnSave, btnNoviNalog)
	@tmpl.Search_Part(tbl, searchControl)
	<div id="table-container" class="mt-1">
		@tmpl.Table(tbl)
		<div id="nalozi_stavke" class="border-b border-gray-200"></div>
	</div>
	<div id="dialog-stavkenaloga"></div>
}

templ NaloziKnjizenjeHeader(tipdokValues []domain.ComboItem, ukObrada domain.UkupnaObrada, btnSave, btnNoviNalog domain.Button) {
	<div class="grid grid-cols-3 gap-6 py-2">
		<div class="pt-2 col-span-2 flex flex-col gap-1">
			<!-- First row: Combo for Vrsta naloga za knjiženje -->
			<div class="flex items-center gap-3">
				@tmpl.ComboBoxField(domain.ComboFieldConfig{
					ID:             "tipdokSelect",
					Name:           "tipdokSelect",
					Placeholder:    "Select...",
					LabelText:      "Vrsta Naloga za knjiženje",
					HasLabel:       true,
					Disabled:       false,
					ClassSelect:    utils.ClassSelect + " flex-1 ",
					ClassLabel:     utils.ClassLabel + " w-[150px] ",
					HxSwap:         "innerHTML",
					HxChangeTarget: "nalozi-table",
					HxVals:         `{"tipdokSelect": document.getElementById("tipdokSelect").value}`,
					OptionValues:   tipdokValues,
					ChangeEndpoint: "/api/nalozi/all/tipdok",
				})
			</div>
			<!-- Second row: Broj naloga, Datum naloga, Datum obrade -->
			<div class="grid grid-cols-6 gap-1">
				@tmpl.TextInputField(domain.InputFieldConfig{
					ID:         "brojnaloga",
					LabelText:  "Broj Naloga",
					FieldType:  "text",
					HasLabel:   true,
					Disabled:   false,
					ClassInput: utils.ClassInputTextEnabled,
					ClassLabel: utils.ClassLabel + " w-20",
					HxTarget:   "brojnaloga",
					MinLength:  "1",
					MaxLength:  "10",
					TabIndex:   "1"})
				@tmpl.TextInputField(domain.InputFieldConfig{
					ID:         "datumnaloga",
					Value:      time.Now().Format("2006-01-02"),
					LabelText:  "Datum Naloga",
					FieldType:  "date",
					HasLabel:   true,
					Disabled:   false,
					ClassInput: utils.ClassInputTextEnabled,
					ClassLabel: utils.ClassLabel + " pl-4",
					TabIndex:   "2"})
				@tmpl.TextInputField(domain.InputFieldConfig{
					ID:         "datumobrade",
					Value:      time.Now().Format("2006-01-02"),
					LabelText:  "Datum Obrade",
					FieldType:  "date",
					HasLabel:   true,
					Disabled:   false,
					ClassInput: utils.ClassInputTextEnabled,
					ClassLabel: utils.ClassLabel + " pl-4",
					TabIndex:   "3"})
			</div>
			<!-- Third row: Opis knjiženja -->
			<div class="flex items-center gap-3">
				@tmpl.TextInputField(domain.InputFieldConfig{
					ID:         "opisKnjizenja",
					LabelText:  "Opis Knjiženja",
					FieldType:  "text",
					HasLabel:   true,
					Disabled:   false,
					ClassInput: utils.ClassInputTextEnabled + " w-full",
					ClassLabel: utils.ClassLabel + " w-[150px]",
					HxTarget:   "opisKnjizenja",
					MinLength:  "0",
					MaxLength:  "120",
					TabIndex:   "4"})
			</div>
			<!-- Fourth row: Buttons -->
			<div class="flex items-center justify-end pt-8">
				@tmpl.FormAddButton(btnNoviNalog)
				@tmpl.FormSaveButton(btnSave)
			</div>
		</div>
		<div class="p-1 flex flex-col">
			<p class="block text-sm font-medium text-blue-700 mb-1">Prikaz ukupne obrade</p>
			<div class="box-content flex flex-col p-1 border-2 border-gray-300 rounded-md">
				<div class="flex items-center space-x-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "ukupnoNaloga",
						Value:      ukObrada.UkNaloga,
						LabelText:  "Ukupno Naloga",
						FieldType:  "text",
						HasLabel:   true,
						Disabled:   true,
						ClassInput: utils.ClassInputTextDisabled,
						ClassLabel: utils.ClassLabel + " w-[25%]",
					})
				</div>
				<div class="flex items-center space-x-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "ukupnoStavki",
						Value:      ukObrada.UkStavki,
						LabelText:  "Ukupno Stavki",
						FieldType:  "text",
						HasLabel:   true,
						Disabled:   true,
						ClassInput: utils.ClassInputTextDisabled,
						ClassLabel: utils.ClassLabel + " w-[25%]",
					})
				</div>
				<div class="flex items-center space-x-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "duguje",
						Value:      ukObrada.Duguje,
						LabelText:  "Duguje",
						FieldType:  "text",
						HasLabel:   true,
						Disabled:   true,
						ClassInput: utils.ClassInputTextDisabled,
						ClassLabel: utils.ClassLabel + " w-[25%]",
					})
				</div>
				<div class="flex items-center space-x-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "potrazuje",
						Value:      ukObrada.Potrazuje,
						LabelText:  "Potrazuje",
						FieldType:  "text",
						HasLabel:   true,
						Disabled:   true,
						ClassInput: utils.ClassInputTextDisabled,
						ClassLabel: utils.ClassLabel + " w-[25%]",
					})
				</div>
			</div>
		</div>
	</div>
	@tmpl.ShowMessage()
}

templ NaloziSave() {
	<div class="flex justify-between items-center mb-4">
		<h1 class="text-2xl font-bold">Nalozi</h1>
		<div class="flex space-x-2">
			<button class="btn btn-primary" hx-get="/nalozi/create" hx-target="#dialog-container" hx-swap="innerHTML">Dodaj</button>
			<button class="btn btn-secondary" onclick="toggleSearch(this)">Pretraga</button>
		</div>
	</div>
}

templ NaloziHeader(tblHeader domain.TableData) {
	<div class="border-b border-gray-200 mb-4">
		@tmpl.Table(tblHeader)
	</div>
}

templ NaloziDetail(tblStavke domain.TableData, searchControl domain.InputControl) {
	@tmpl.Search_Part(tblStavke, searchControl)
	<div id="table-container" class="mt-1">
		@tmpl.Table(tblStavke)
		<div id="nalozi_stavke" class="border-b border-gray-200"></div>
	</div>
}

templ NaloziKopiranje(tabs domain.TabData, tblHeader, tblStavke domain.TableData, searchControl domain.InputControl) {
	@NaloziNav(tabs)
	<div>
		@tmpl.Search_Part(tblHeader, searchControl)
		@NaloziHeader(tblHeader)
		<div id="nalozi_kopiranje_stavke" class="border-b border-gray-200"></div>
	</div>
}

templ NaloziStorniranje(tabs domain.TabData, tblHeader, tblStavke domain.TableData, searchControl domain.InputControl) {
	@NaloziNav(tabs)
	<div>
		@tmpl.Search_Part(tblHeader, searchControl)
		@NaloziHeader(tblHeader)
		<div id="nalozi_storniranje_stavke" class="border-b border-gray-200"></div>
	</div>
}

templ NaloziStampanje(tabs domain.TabData, tblHeader, tblStavke domain.TableData, btnStampaj domain.Button, searchControl domain.InputControl) {
	@NaloziNav(tabs)
	<div>
		@tmpl.Search_Part(tblHeader, searchControl)
		@NaloziHeader(tblHeader)
		<div id="nalozi_kopiranje_stavke" class="border-b border-gray-200"></div>
	</div>
}

templ NaloziKopiranjeDialog(model domain.KopirajNalog) {
	<h2 class="form-title">Podaci o nalogu koji se kopira</h2>
	<div class="col-span-2 grid grid-cols-2 gap-1">
		<div class="flex flex-col">
			<label for="vista-naloga" class="block text-sm font-sm text-blue-700">Vista naloga</label>
			<input
				class="mt-1 block p-1 w-[8ch] border border-gray-300 rounded-md shadow-sm focus:ring-blue-100 focus:border-blue-100 w-full min-w-0"
				type="text"
				id="vrstaNalogaold"
				name="vrstaNalogaold"
			/>
		</div>
		<div class="flex flex-col">
			<label for="broj-naloga" class="block text-sm font-sm text-blue-700">Broj naloga</label>
			<input
				class="mt-1 block p-1 w-[8ch] border border-gray-300 rounded-md shadow-sm focus:ring-blue-100 focus:border-blue-100 w-full min-w-0"
				type="text"
				id="brojnalogaold"
				name="brojnalogaold"
			/>
		</div>
		<div class="flex flex-col">
			<label for="datum-naloga" class="block text-sm font-sm text-blue-700">Datum naloga</label>
			<input
				class="mt-1 block p-1 w-[10ch] border border-gray-300 rounded-md shadow-sm focus:ring-blue-100 focus:border-blue-100 w-full min-w-0"
				type="text"
				id="datumnalogaold"
				disabled="true"
				name="datumalogaold"
			/>
		</div>
		<div class="flex flex-col">
			<label for="opis-knjizenjaold" class="block text-sm font-sm text-blue-700">Opis knjizenja</label>
			<input
				class="mt-1 block p-1 w-[50ch] border border-gray-300 rounded-md shadow-sm focus:ring-blue-100 focus:border-blue-100 w-full min-w-0"
				type="text"
				id="opisknjizenjaold"
				disabled="true"
				name="opisknjizenjaold"
			/>
		</div>
	</div>
	<!-- Full-width Description Section -->
	<hr class="horizontal-line"/>
}

templ NaloziScript() {
	<script>
        document.addEventListener('htmx:afterSwap', function(event) {
    		console.log('HTMX After Swap:', event.detail.target);
			const tabs = document.querySelectorAll('nav button');
            const tabContent = document.getElementById('tab-content');

            tabs.forEach(tab => {
                tab.addEventListener('click', () => {
                    // Remove active classes from all tabs
                    tabs.forEach(t => {
                        t.classList.remove('text-blue-600', 'border-blue-600');
                        t.classList.add('text-gray-500', 'border-transparent', 'hover:text-gray-700', 'hover:border-gray-300');
                        t.setAttribute('aria-selected', 'false');
                    });

                    // Add active classes to the clicked tab
                    tab.classList.add('text-blue-600', 'border-blue-600');
                    tab.classList.remove('text-gray-500', 'border-transparent', 'hover:text-gray-700', 'hover:border-gray-300');
                    tab.setAttribute('aria-selected', 'true');
                });
            });

            // Trigger click on the first tab to load its content on page load
            document.getElementById('knjizenje-tab').click();
        });
    </script>
}
