package finansijsko

import (
	"helia/frontend/components"
	tmpl "helia/frontend/templates"
	"helia/i18n"
	"helia/internal/common"
	"helia/internal/domain"
	"time"
)

templ PoreskeKnjigeMain(tabs domain.TabData, tblIzdatih domain.TableData, btnObrada, btnPrint domain.Button, searchInput domain.InputControl, knjigaValues []domain.ComboItem, gnGod int, translator *i18n.Service) {
	<!-- Tab Content -->
	<div id="tab-content" class="bg-blue-100 p-1 flex flex-col h-full">
		@KnjigaIzdatihRacuna(tabs, tblIzdatih, btnObrada, btnPrint, searchInput, knjigaValues, gnGod, translator)
	</div>
	@tmpl.ShowMessageScript()
	@tmpl.HandleBackendResponseScript()
	@components.SpinnerScript()
}

// Tab 1 - Knjiga izdatih racuna
templ KnjigaIzdatihRacuna(tabs domain.TabData, tbl domain.TableData, btnObrada, btnPrint domain.Button, searchInput domain.InputControl, knjigaValues []domain.ComboItem, gnGod int, translator *i18n.Service) {
	<!-- Container with full height -->
	<div class="bg-blue-100 p-1 flex flex-col h-full">
		<!-- Tab Navigation -->
		<div class="border-b border-blue-600">
			@tmpl.TabNav(translator.Title("Poreske knjige i prijava"), tabs, "#tab-content", "poreske-knjige-panel", translator)
		</div>
		<!-- Tab 1 Content -->
		<div id="tab1" class="flex-1 min-h-0 flex flex-col gap-1">
			<!-- Parameters Section -->
			<div class="border bg-blue-100 border-blue-400 mt-1 p-2 rounded-lg">
				<div class="grid grid-cols-[40%_25%_33%] gap-x-3 items-center">
					<div class="col-start-1 row-start-1 flex items-center gap-1">
						@components.LabelField(domain.LabelFieldConfig{
							ID:         "knjiga",
							LabelText:  translator.Label("Vrsta knjige računa"),
							ClassLabel: common.ClassLabel + " w-32",
						})
						@components.ComboBoxField(domain.ComboFieldConfig{
							ID:           "knjiga",
							Name:         "knjiga",
							ClassSelect:  common.ClassSelect + " w-96",
							OptionValues: knjigaValues,
							TabIndex:     "1",
						}, translator)
					</div>
					<div class="col-start-1 row-start-2 flex items-center gap-1">
						@components.LabelField(domain.LabelFieldConfig{
							ID:         "oddatuma",
							LabelText:  translator.Label("Od datuma"),
							ClassLabel: common.ClassLabel + " w-32",
						})
						@components.TextInputField(domain.InputFieldConfig{
							ID:         "oddatuma",
							Name:       "oddatuma",
							FieldType:  "date",
							Value:      time.Date(gnGod, time.Now().Month(), 1, 0, 0, 0, 0, time.UTC).Format(common.HtmlLayout),
							ClassInput: common.ClassInputTextEnabled + " w-32 mr-2",
							TabIndex:   "2",
						})
						@components.LabelField(domain.LabelFieldConfig{
							ID:         "dodatuma",
							LabelText:  translator.Label("Do datuma"),
							ClassLabel: common.ClassLabel + " w-28",
						})
						@components.TextInputField(domain.InputFieldConfig{
							ID:         "dodatuma",
							Name:       "dodatuma",
							FieldType:  "date",
							Value:      time.Date(gnGod, time.Now().Month(), time.Now().Day(), 0, 0, 0, 0, time.UTC).Format(common.HtmlLayout),
							ClassInput: common.ClassInputTextEnabled + " w-32",
							TabIndex:   "3",
						})
					</div>
					<div class="col-start-2 row-start-1 flex items-center gap-1 whitespace-nowrap">
						<input type="checkbox" id="stampaponalozima" name="stampaponalozima" tabindex="4" class="w-4 h-4"/>
						<label for="stampaponalozima" class="text-gray-900">{ translator.Label("Štampaj knjigu po nalozima") }</label>
					</div>
					<div class="col-start-2 row-start-2 flex items-center gap-1 whitespace-nowrap">
						<input type="checkbox" id="stampaponalozimazbirno" name="stampaponalozimazbirno" tabindex="5" class="w-4 h-4"/>
						<label for="stampaponalozimazbirno" class="text-gray-900">{ translator.Label("Štampaj knjigu po nalozima zbirno") }</label>
					</div>
					<div class="col-start-3 row-start-2 flex items-center justify-end gap-1">
						@components.FormObradaButton(btnObrada, translator)
						@components.Search_PartPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Master Table -->
			<div class="border bg-blue-100 border-blue-400 p-1 rounded-lg flex flex-col min-h-0 overflow-hidden flex-1">
				@components.LoadingSpinner()
				@components.Search_Part(tbl, searchInput)
				<!-- Table -->
				<div id="poreske-knjige-table" class="flex-1 overflow-x-auto overflow-y-auto min-h-0">
					@components.Table(tbl, translator)
				</div>
			</div>
		</div>
	</div>
	<!-- Dialog display container-->
	<div id="dialog-content"></div>
	@tmpl.OpenPrintWithParamsScript()
}

// Tab 2 - Knjiga ulaznih racuna
templ KnjigaPrimljenihRacuna(tabs domain.TabData, tbl domain.TableData, btnObrada, btnPrint domain.Button, searchInput domain.InputControl, knjigaValues []domain.ComboItem, gnGod int, translator *i18n.Service) {
	<!-- Container with full height -->
	<div class="flex flex-col h-full">
		<!-- Tab Navigation -->
		<div class="border-b border-blue-600">
			@tmpl.TabNav(translator.Title("Poreske knjige i prijava"), tabs, "#tab-content", "poreske-knjige-panel", translator)
		</div>
		<!-- Tab 2 Content -->
		<div id="tab2" class="flex-1 min-h-0 flex flex-col gap-1">
			<!-- Parameters Section -->
			<div class="border bg-blue-100 border-blue-400 mt-1 p-2 rounded-lg">
				<div class="grid grid-cols-[40%_25%_33%] gap-x-3 items-center">
					<div class="col-start-1 row-start-1 flex items-center gap-1">
						@components.LabelField(domain.LabelFieldConfig{
							ID:         "knjiga",
							LabelText:  translator.Label("Vrsta knjige računa"),
							ClassLabel: common.ClassLabel + " w-32",
						})
						@components.ComboBoxField(domain.ComboFieldConfig{
							ID:           "knjiga",
							Name:         "knjiga",
							ClassSelect:  common.ClassSelect + " w-96",
							OptionValues: knjigaValues,
							TabIndex:     "1",
						}, translator)
					</div>
					<div class="col-start-1 row-start-2 flex items-center gap-1">
						@components.LabelField(domain.LabelFieldConfig{
							ID:         "oddatuma",
							LabelText:  translator.Label("Od datuma"),
							ClassLabel: common.ClassLabel + " w-32",
						})
						@components.TextInputField(domain.InputFieldConfig{
							ID:         "oddatuma",
							Name:       "oddatuma",
							FieldType:  "date",
							Value:      time.Date(gnGod, time.Now().Month(), 1, 0, 0, 0, 0, time.UTC).Format(common.HtmlLayout),
							ClassInput: common.ClassInputTextEnabled + " w-32 mr-2",
							TabIndex:   "2",
						})
						@components.LabelField(domain.LabelFieldConfig{
							ID:         "dodatuma",
							LabelText:  translator.Label("Do datuma"),
							ClassLabel: common.ClassLabel + " w-28",
						})
						@components.TextInputField(domain.InputFieldConfig{
							ID:         "dodatuma",
							Name:       "dodatuma",
							FieldType:  "date",
							Value:      time.Date(gnGod, time.Now().Month(), time.Now().Day(), 0, 0, 0, 0, time.UTC).Format(common.HtmlLayout),
							ClassInput: common.ClassInputTextEnabled + " w-32",
							TabIndex:   "3",
						})
					</div>
					<div class="col-start-2 row-start-1 flex items-center gap-1 whitespace-nowrap">
						<input type="checkbox" id="stampaponalozima" name="stampaponalozima" tabindex="4" class="w-4 h-4"/>
						<label for="stampaponalozima" class="text-gray-900">Stampaj knjigu po nalozima</label>
					</div>
					<div class="col-start-2 row-start-2 flex items-center gap-1 whitespace-nowrap">
						<input type="checkbox" id="stampaponalozimazbirno" name="stampaponalozimazbirno" tabindex="5" class="w-4 h-4"/>
						<label for="stampaponalozimazbirno" class="text-gray-900">Stampaj knjigu po nalozima zbirno</label>
					</div>
					<div class="col-start-3 row-start-2 flex items-center justify-end gap-1">
						@components.FormObradaButton(btnObrada, translator)
						@components.Search_PartPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Master Table -->
			<div class="border bg-blue-100 border-blue-400 p-1 rounded-lg flex flex-col min-h-0 overflow-hidden flex-1">
				@components.LoadingSpinner()
				@components.Search_Part(tbl, searchInput)
				<!-- Table -->
				<div id="poreske-knjige-table" class="flex-1 overflow-x-auto overflow-y-auto min-h-0">
					@components.Table(tbl, translator)
				</div>
			</div>
		</div>
	</div>
	@tmpl.OpenPrintWithParamsScript()
}

// Tab 3 - Poreska prijava
templ PoreskaPrijava(tabs domain.TabData, data domain.PoreskaPrijavaData, btnObrada, btnPrint domain.Button, gnGod int, translator *i18n.Service) {
	<!-- Container with full height -->
	<div class="flex flex-col h-full">
		<!-- Tab Navigation -->
		<div class="border-b border-blue-600">
			@tmpl.TabNav(translator.Title("Poreske knjige i prijava"), tabs, "#tab-content", "poreske-knjige-panel", translator)
		</div>
		<!-- Tab 3 Content -->
		<div id="tab3" class="flex-1 min-h-0 flex flex-col gap-1">
			<!-- Parameters Section -->
			<div class="border bg-blue-100 border-blue-400 mt-1 p-1 rounded-lg">
				<div class="flex items-center gap-1 mb-1">
					@components.LabelField(domain.LabelFieldConfig{
						ID:         "oddatuma",
						LabelText:  translator.Label("Od datuma"),
						ClassLabel: common.ClassLabel + " w-28",
					})
					@components.TextInputField(domain.InputFieldConfig{
						ID:         "oddatuma",
						Name:       "oddatuma",
						FieldType:  "date",
						Value:      time.Date(gnGod, 1, 1, 0, 0, 0, 0, time.UTC).Format(common.HtmlLayout),
						ClassInput: common.ClassInputTextDisabled + " w-32",
						Disabled:   false,
						TabIndex:   "1",
					})
					@components.LabelField(domain.LabelFieldConfig{
						ID:         "dodatuma",
						LabelText:  translator.Label("Do datuma"),
						ClassLabel: common.ClassLabel + " w-28",
					})
					@components.TextInputField(domain.InputFieldConfig{
						ID:         "dodatuma",
						Name:       "dodatuma",
						FieldType:  "date",
						Value:      time.Date(gnGod, 12, 31, 0, 0, 0, 0, time.UTC).Format(common.HtmlLayout),
						ClassInput: common.ClassInputTextDisabled + " w-32",
						Disabled:   false,
						TabIndex:   "2",
					})
					<div class="flex-1"></div>
					<div class="flex items-center space-x-1">
						@components.FormObradaButton(btnObrada, translator)
						@components.Search_PartPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Data Form -->
			<div id="poreska-prijava-form">
				@PoreskaPrijavaForm(data, translator)
			</div>
		</div>
	</div>
}

templ PoreskaPrijavaForm(data domain.PoreskaPrijavaData, translator *i18n.Service) {
	<div class="border bg-blue-100 border-blue-400 p-2 rounded-lg flex flex-col min-h-0 overflow-hidden flex-1">
		<div class="flex-1 overflow-x-auto overflow-y-auto min-h-0">
			<div class="w-full">
				<!-- I. PROMET DOBARA I USLUGA -->
				<div class="mb-4">
					<div class="flex mb-2">
						<div class="flex-1">
							<h4 class="text-sm font-bold font-medium text-gray-900 border-b border-gray-400 pb-1">I. PROMET DOBARA I USLUGA</h4>
						</div>
						<div class="w-52 text-center">
							<h4 class="text-sm font-bold font-medium text-gray-900 border-b border-gray-400 pb-1">Iznos naknade bez PDV</h4>
						</div>
						<div class="w-52 text-center">
							<h4 class="text-sm font-bold font-medium text-gray-900 border-b border-gray-400 pb-1 mr-2">PDV</h4>
						</div>
					</div>
					<div class="space-y-1">
						<!-- Row 1 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">1. Promet dobara i usluga koji je oslobođen PDV sa pravom na odbitak prethodnog poreza</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">001</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv001",
									Name:       "pdv001",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt001, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "1",
									Disabled:   true,
								})
							</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">103</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv103",
									Name:       "pdv103",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt103, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "12",
									Disabled:   true,
								})
							</div>
						</div>
						<!-- Row 2 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">2. Promet dobara i usluga koji je oslobođen PDV bez prava na odbitak prethodnog poreza</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">002</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv002",
									Name:       "pdv002",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt002, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "2",
									Disabled:   true,
								})
							</div>
							<div class="w-52"></div>
						</div>
						<!-- Row 3 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">3. Promet dobara i usluga po opštoj stopi</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">003</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv003",
									Name:       "pdv003",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt003, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "3",
									Disabled:   true,
								})
							</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">104</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv104",
									Name:       "pdv104",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt104, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "13",
									Disabled:   true,
								})
							</div>
						</div>
						<!-- Row 4 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">4. Promet dobara i usluga po posebnoj stopi</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">004</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv004",
									Name:       "pdv004",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt004, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "4",
									Disabled:   true,
								})
							</div>
							<div class="w-52"></div>
						</div>
						<!-- Row 5 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">5. ZBIR (1+2+3+4)</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">005</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv005",
									Name:       "pdv005",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt005, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "5",
									Disabled:   true,
								})
							</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">105</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv105",
									Name:       "pdv105",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt105, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "14",
									Disabled:   true,
								})
							</div>
						</div>
					</div>
				</div>
				<!-- II. PRETHODNI POREZ -->
				<div class="mb-4">
					<div class="flex mb-2">
						<div class="flex-1">
							<h4 class="text-sm font-bold font-medium text-gray-900 border-b border-gray-400 pb-1">II. PRETHODNI POREZ</h4>
						</div>
						<div class="w-52 text-center">
							<h4 class="text-sm font-bold font-medium text-gray-900 border-b border-gray-400 pb-1">Iznos naknade bez PDV</h4>
						</div>
						<div class="w-52 text-center">
							<h4 class="text-sm font-bold font-medium text-gray-900 border-b border-gray-400 pb-1">PDV</h4>
						</div>
					</div>
					<div class="space-y-1">
						<!-- Row 6 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">6. Prethodni porez plaćen prilikom uvoza</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">006</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv006",
									Name:       "pdv006",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt006, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "6",
									Disabled:   true,
								})
							</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">106</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv106",
									Name:       "pdv106",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt106, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "15",
									Disabled:   true,
								})
							</div>
						</div>
						<!-- Row 7 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">7. PDV nadoknada plaćena poljoprivredniku</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">007</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv007",
									Name:       "pdv007",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt007, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "7",
									Disabled:   true,
								})
							</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">107</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv107",
									Name:       "pdv107",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt107, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "16",
									Disabled:   true,
								})
							</div>
						</div>
						<!-- Row 8 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">8. Prethodni porez, osim prethodnog poreza za red. br. 6. i 7.</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">008</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv008",
									Name:       "pdv008",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt008, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "8",
									Disabled:   true,
								})
							</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">108</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv108",
									Name:       "pdv108",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt108, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "17",
									Disabled:   true,
								})
							</div>
						</div>
						<!-- Row 9 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">9. ZBIR (6+7+8)</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">009</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv009",
									Name:       "pdv009",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt009, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "9",
									Disabled:   true,
								})
							</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">109</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv109",
									Name:       "pdv109",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt109, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "18",
									Disabled:   true,
								})
							</div>
						</div>
					</div>
				</div>
				<!-- III. PORESKA OBAVEZA -->
				<div class="mb-4">
					<div class="flex mb-2">
						<div class="flex-1">
							<h4 class="text-sm font-bold font-medium text-gray-900 border-b border-gray-400 pb-1">III. PORESKA OBAVEZA</h4>
						</div>
						<div class="w-52 text-center">
							<h4 class="text-sm font-bold font-medium text-gray-900 border-b border-gray-400 pb-1 mr-2">PDV</h4>
						</div>
					</div>
					<div class="space-y-1">
						<!-- Row 10 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">10. Iznos PDV u poreskom periodu (5-9)</div>
							<div class="w-52 flex items-center justify-center gap-1">
								<span class="text-xs font-medium text-gray-600 w-12 text-center">110</span>
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pdv110",
									Name:       "pdv110",
									FieldType:  "text",
									Value:      common.FormatNumberWithSystemLocale(data.Edt110, 0),
									ClassInput: common.ClassInputTextDisabled + " w-48 font-bold text-right",
									TabIndex:   "19",
									Disabled:   true,
								})
							</div>
						</div>
						<!-- Row 11 -->
						<div class="flex items-center">
							<div class="flex-1 text-sm">11. Povraćaj:</div>
						</div>
					</div>
				</div>
				<!-- Closing section with yes/no option -->
				<div class="mt-6 pt-1 border-t border-gray-400">
					<div class="flex items-center justify-end">
						<div class="flex gap-2">
							<label class="flex items-center gap-2">
								<input type="radio" name="final_option" value="yes" class="w-4 h-4 text-blue-600"/>
								<span class="text-sm text-gray-700">DA</span>
							</label>
							<label class="flex items-center gap-2">
								<input type="radio" name="final_option" value="no" class="w-4 h-4 text-blue-600" checked/>
								<span class="text-sm text-gray-700">NE</span>
							</label>
							<div class="text-sm text-gray-600">(Obavezno izabrati opciju)</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}

// Dialog - KIR Entry Form
templ DialogKirUnos(dlg domain.Dialog, knjigaValues, tipdokValues []domain.ComboItem, btnSave, btnCancel, btnClose domain.Button, csrfToken string, translator *i18n.Service) {
	<!-- Dialog Container -->
	<div id={ dlg.Id } class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
		<div class="bg-white rounded-lg shadow-xl max-w-5xl w-full mx-4 max-h-[90vh] overflow-y-auto">
			<!-- Header -->
			<div class="bg-blue-600 text-white h-9 flex justify-between items-center rounded-t-lg">
				<h2 class="text-lg font-semibold ml-4">{ translator.Title("Unos podataka - Knjiga izdatih računa") }</h2>
				@components.CloseButton(btnClose)
			</div>
			<form
				id="kir-form"
				class="p-1 h-full flex flex-col min-h-0"
				if btnSave.HxRequestType == "PUT" {
					hx-put={ btnSave.HxActionURL }
					hx-on::after-request="handleFormResponse(event, 'PUT', 'dialog-kir-unos', true, 'btn-save')"
				}
				if btnSave.HxRequestType == "POST" {
					hx-post={ btnSave.HxActionURL }
					hx-on::after-request="handleFormResponse(event, 'POST', 'dialog-kir-unos', true, 'btn-save')"
				}
				hx-swap="none"
				hx-boost="false"
				onsubmit="return false;"
			>
				<input type="hidden" name="_csrf" value={ csrfToken }/>
				<!-- Form Content -->
				<div class="p-2 space-y-1">
					<!-- Top Controls -->
					<div class="pl-2 pb-1">
						<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Vrste knjige izlaznih računa") }</div>
						<div class="space-y-1 pt-2">
							<!-- Row 1: Book Type -->
							<div class="flex items-center gap-1">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "knjiga",
									LabelText:  translator.Label("Vrsta knjige računa"),
									ClassLabel: common.ClassLabel + " w-32",
								})
								@components.ComboBoxField(domain.ComboFieldConfig{
									ID:           "knjiga",
									Name:         "knjiga",
									ClassSelect:  common.ClassSelectDisabled + " w-96 no-focus ring-0 cursor-not-allowed",
									OptionValues: knjigaValues,
									Disabled:     true,
									TabIndex:     "-1",
								}, translator)
							</div>
							<!-- Row 2: Checkbox -->
							<div class="flex items-center gap-1">
								<input type="checkbox" id="maloprodaja" name="maloprodaja" class="w-4 h-4 text-blue-600 rounded"/>
								<label for="maloprodaja" class="font-medium text-gray-700">{ translator.Label("Maloprodaja") }</label>
							</div>
						</div>
					</div>
					<!-- Section 1: PODACI O IZDATOM RAČUNU -->
					<div class="pl-2 pb-1">
						<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Podaci o izdatom računu") }</div>
						<div class="space-y-1 pt-2">
							<!-- Row 1 -->
							<div class="flex items-center gap-1">
								<div class="flex items-center gap-2 w-1/3">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "vkrbr",
										LabelText:  translator.Label("Redni broj"),
										ClassLabel: "w-36",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "vkrbr",
										Name:       "vkrbr",
										FieldType:  "text",
										ClassInput: common.ClassInputTextEnabled + " w-36",
										OnInput:    "clearFieldError",
										OnFocus:    "clearFieldError",
										TabIndex:   "1",
									})
								</div>
								<div class="flex items-center gap-2 flex-1">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "tipdok",
										LabelText:  translator.Label("Vrsta naloga za knjiženje"),
										ClassLabel: "w-44",
									})
									@components.ComboBoxField(domain.ComboFieldConfig{
										ID:           "tipdok",
										Name:         "tipdok",
										ClassSelect:  common.ClassSelectEnabled + " flex-1",
										OptionValues: tipdokValues,
										TabIndex:     "5",
									}, translator)
								</div>
							</div>
							<!-- Row 2 -->
							<div class="flex items-center gap-1">
								<div class="flex items-center gap-2 w-1/3">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "dknjiz",
										LabelText:  translator.Label("Datum knjiženja"),
										ClassLabel: "w-36",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "dknjiz",
										Name:       "dknjiz",
										FieldType:  "date",
										ClassInput: common.ClassInputTextEnabled + " w-36",
										TabIndex:   "2",
										OnInput:    "clearFieldError",
										OnFocus:    "clearFieldError",
									})
									<span class="font-medium text-gray-600 text-center">2</span>
								</div>
								<div class="flex items-center gap-2 flex-1">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "nalog",
										LabelText:  translator.Label("Broj naloga"),
										ClassLabel: "w-44",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:               "nalog",
										Name:             "nalog",
										FieldType:        "text",
										ClassInput:       common.ClassInputTextEnabled + " flex-1 w-32",
										HxGet:            "/api/nalozi/nextnalog",
										HxTrigger:        "change from:select[name='tipdok']",
										HxInclude:        "select[name='tipdok']",
										HxOnAfterRequest: "handleNextNalogResponse",
										OnInput:          "clearFieldError",
										OnFocus:          "clearFieldError",
										TabIndex:         "6",
									})
								</div>
							</div>
							<!-- Row 3 -->
							<div class="flex items-center gap-1">
								<div class="flex items-center gap-2 w-1/3">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "kracun",
										LabelText:  translator.Label("Broj fakture"),
										ClassLabel: "w-36",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "kracun",
										Name:       "kracun",
										FieldType:  "text",
										ClassInput: common.ClassInputTextEnabled + " w-36",
										TabIndex:   "3",
										OnInput:    "clearFieldError",
										OnFocus:    "clearFieldError",
									})
									<span class="font-medium text-gray-600 text-center">3</span>
								</div>
								<div class="flex items-center gap-2 w-1/3">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "dizd",
										LabelText:  translator.Label("Datum izdavanja fakture"),
										ClassLabel: "w-44 mr-5",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "dizd",
										Name:       "dizd",
										FieldType:  "date",
										ClassInput: common.ClassInputTextEnabled + " w-36",
										TabIndex:   "7",
										OnInput:    "clearFieldError",
										OnFocus:    "clearFieldError",
									})
									<span class="font-medium text-gray-600 text-center">4</span>
								</div>
								<div class="flex items-center gap-2 flex-1">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "datprometa",
										LabelText:  translator.Label("Datum prometa"),
										ClassLabel: "w-36",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "datprometa",
										Name:       "datprometa",
										FieldType:  "date",
										ClassInput: common.ClassInputTextEnabled + " flex-1 w-32",
										TabIndex:   "8",
										OnInput:    "clearFieldError",
										OnFocus:    "clearFieldError",
									})
								</div>
							</div>
							<!-- Row 4: Konto and Search -->
							<div class="flex items-center gap-1">
								<div class="flex items-center gap-2 w-1/3">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "konto",
										LabelText:  translator.Label("Konto kupca"),
										ClassLabel: "w-36",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "konto",
										Name:       "konto",
										FieldType:  "text",
										ClassInput: common.ClassInputTextEnabled + " w-36",
										MinLength:  "4",
										MaxLength:  "6",
										TabIndex:   "8",
										OnInput:    "clearFieldError",
										OnFocus:    "clearFieldError",
									})
								</div>
								<div class="flex flex-1 items-center gap-1 w-1/3">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "sifra",
										LabelText:  translator.Label("Analitička šifra"),
										ClassLabel: common.ClassLabel + " w-44 mr-1",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:           "sifra",
										Name:         "sifra",
										FieldType:    "text",
										Disabled:     false,
										ClassInput:   common.ClassInputTextEnabled + " w-24",
										BlurEndpoint: "api/fkpl/trazikonto",
										HxTarget:     "sifranaziv",
										HxVals:       `js:{"konto": document.getElementById('konto').value, "sifra": document.getElementById('sifra').value, "vkonta": "1", "destfield": "sifra"}`,
										HxInclude:    "this",
										MinLength:    "2",
										MaxLength:    "6",
										TabIndex:     "9",
										OnInput:      "clearFieldError",
										OnFocus:      "clearFieldError",
									})
									@components.SearchButton(domain.SearchButtonConfig{
										ID:          "sifra",
										Name:        "search-sifra",
										HxUrl:       "/api/promet/searchbutton",
										HxTarget:    "#search-dropdown",
										HxSwap:      "innerHTML",
										HxVals:      `js:{"konto": document.getElementById('konto').value, "vkonta": "1", "destfield": "sifra"}`,
										ClassButton: common.ClassButton,
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "sifranaziv",
										Name:       "sifranaziv",
										FieldType:  "text",
										Disabled:   true,
										ClassInput: common.ClassInputTextDisabled + " flex-1 w-full",
									})
								</div>
							</div>
							<!-- Row 5: Customer Name and PIB -->
							<div class="flex items-center gap-1">
								<div class="flex items-center gap-2 flex-1">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "naziv",
										LabelText:  translator.Label("Naziv kupca"),
										ClassLabel: " w-36",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "naziv",
										Name:       "naziv",
										FieldType:  "text",
										ClassInput: common.ClassInputTextDisabled + " flex-1 ",
										Disabled:   true,
										TabIndex:   "10",
									})
									<span class="font-medium text-gray-600 text-center">5</span>
								</div>
								<div class="flex items-center gap-2 w-1/3">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "pib",
										LabelText:  translator.Label("PIB"),
										ClassLabel: " w-12",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "pib",
										Name:       "pib",
										FieldType:  "text",
										ClassInput: common.ClassInputTextDisabled + " w-24",
										TabIndex:   "11",
										Disabled:   true,
									})
									<span class="font-medium text-gray-600 text-center">6</span>
								</div>
							</div>
							<!-- Row 6: Address fields -->
							<div class="flex items-center gap-1">
								<div class="flex items-center gap-2 flex-1">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "adresa",
										LabelText:  translator.Label("Adresa"),
										ClassLabel: "w-36",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "adresa",
										Name:       "adresa",
										FieldType:  "text",
										ClassInput: common.ClassInputTextDisabled + " flex-1",
										Disabled:   true,
										TabIndex:   "12",
									})
								</div>
								<div class="flex items-center gap-2 w-1/4">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "pobroj",
										LabelText:  translator.Label("Poštanski broj"),
										ClassLabel: "w-24",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "pobroj",
										Name:       "pobroj",
										FieldType:  "text",
										ClassInput: common.ClassInputTextDisabled + " w-20",
										TabIndex:   "13",
										Disabled:   true,
									})
								</div>
								<div class="flex items-center gap-2 w-1/4">
									@components.LabelField(domain.LabelFieldConfig{
										ID:         "mesto",
										LabelText:  translator.Label("Mesto"),
										ClassLabel: "w-16",
									})
									@components.TextInputField(domain.InputFieldConfig{
										ID:         "mesto",
										Name:       "mesto",
										FieldType:  "text",
										ClassInput: common.ClassInputTextDisabled + " w-full",
										TabIndex:   "14",
										Disabled:   true,
									})
								</div>
							</div>
						</div>
					</div>
					<!-- Section 2: UKUPAN IZNOS SA PDV-OM -->
					<div class="pl-2 pb-1">
						<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Ukupan iznos sa PDV-om") }</div>
						<div class="grid grid-cols-2 justify-items-start gap-x-4 gap-y-2 pt-2">
							<div class="flex items-center gap-2 w-full min-w-0 col-span-2">
								@components.LabelField(domain.LabelFieldConfig{ID: "iznsapdv", LabelText: translator.Label("Iznos sa PDV"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{
									ID:            "iznsapdv",
									Name:          "iznsapdv",
									FieldType:     "number",
									Value:         "0.00",
									ClassInput:    common.ClassInputTextEnabled + " w-40 shrink-0 text-right",
									DecimalPlaces: 2, TabIndex: "15"})
								<span class="font-medium text-gray-600 text-center shrink-0">7</span>
							</div>
						</div>
					</div>
					<!-- Section 3: OSLOBOĐENI PROMET -->
					<div class="pl-2 pb-1">
						<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Oslobođeni promet") }</div>
						<div class="grid grid-cols-2 justify-items-start gap-x-4 gap-y-2 pt-2">
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "oslobcl24", LabelText: translator.Label("odbitak_cl24"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "oslobcl24", FieldType: "number", Name: "oslobcl24", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right", DecimalPlaces: 2, TabIndex: "16"})
								<span class="font-medium text-gray-600 text-center shrink-0">8</span>
							</div>
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "oslobcl25", LabelText: translator.Label("odbitak_cl25"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "oslobcl25", FieldType: "number", Name: "oslobcl25", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right", DecimalPlaces: 2, TabIndex: "17"})
								<span class="font-medium text-gray-600 text-center shrink-0">9</span>
							</div>
						</div>
					</div>
					<!-- Section 4: PROMET U INOSTRANSTVU -->
					<div class="pl-2 pb-1">
						<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Promet u inostranstvu") }</div>
						<div class="grid grid-cols-2 justify-items-start gap-x-4 gap-y-2 pt-2">
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "izvozsapr", LabelText: translator.Label("Promet u inostranstvu sa pravom odbitka"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "izvozsapr", FieldType: "number", Name: "izvozsapr", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right", DecimalPlaces: 2, TabIndex: "18"})
								<span class="font-medium text-gray-600 text-center shrink-0">10</span>
							</div>
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "izvozbezpr", LabelText: translator.Label("Promet u inostranstvu bez prava odbitka"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "izvozbezpr", FieldType: "number", Name: "izvozbezpr", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right", DecimalPlaces: 2, TabIndex: "19"})
								<span class="font-medium text-gray-600 text-center shrink-0">11</span>
							</div>
						</div>
					</div>
					<!-- Section 5: OPOREZIVI PROMET -->
					<div class="pl-2 pb-1">
						<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Oporezivi promet") }</div>
						<div class="grid grid-cols-2 justify-items-start gap-x-4 gap-y-2 pt-2">
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "osn1", LabelText: translator.Label("Osnovica po opštoj stopi"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "osn1", FieldType: "number", Name: "osn1", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right", DecimalPlaces: 2, TabIndex: "20"})
								<span class="font-medium text-gray-600 text-center shrink-0">12</span>
							</div>
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "pdv1", LabelText: translator.Label("PDV opšta stopa"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "pdv1", FieldType: "number", Name: "pdv1", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right", DecimalPlaces: 2, TabIndex: "21"})
								<span class="font-medium text-gray-600 text-center shrink-0">13</span>
							</div>
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "osn1", LabelText: translator.Label("Osnovica po posebnoj stopi"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "osn1", FieldType: "number", Name: "osn1", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right", DecimalPlaces: 2, TabIndex: "22"})
								<span class="font-medium text-gray-600 text-center shrink-0">14</span>
							</div>
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "pdv2", LabelText: translator.Label("PDV posebna stopa"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "pdv2", FieldType: "number", Name: "pdv2", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right", DecimalPlaces: 2, TabIndex: "23"})
								<span class="font-medium text-gray-600 text-center shrink-0">15</span>
							</div>
						</div>
					</div>
					<!-- Section 6: UKUPAN PROMET -->
					<div class="pl-2 pb-1">
						<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Ukupan promet") }</div>
						<div class="grid grid-cols-2 justify-items-start gap-x-4 gap-y-2 pt-2">
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "prom1", LabelText: translator.Label("ukupan_promet_1"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "prom1", FieldType: "number", Name: "prom1", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right font-bold", DecimalPlaces: 2, TabIndex: "24", Disabled: true})
								<span class="font-medium text-gray-600 text-center shrink-0">16</span>
							</div>
							<div class="flex items-center gap-2 w-full min-w-0">
								@components.LabelField(domain.LabelFieldConfig{ID: "prom2", LabelText: translator.Label("ukupan_promet_2"), ClassLabel: "flex-1 min-w-0"})
								@components.TextInputField(domain.InputFieldConfig{ID: "prom2", FieldType: "number", Name: "prom2", Value: "0.00", ClassInput: common.ClassInputTextEnabled + " w-40 shrink-0 text-right font-bold", DecimalPlaces: 2, TabIndex: "25", Disabled: true})
								<span class="font-medium text-gray-600 text-center shrink-0">17</span>
							</div>
							<div class="col-span-2 flex justify-end gap-2 pt-2 border-t border-gray-300">
								@components.ConfirmButton(btnSave, translator)
								@components.CancelButton(btnCancel, translator)
							</div>
						</div>
					</div>
				</div>
				<!-- Message Display Area at Bottom -->
				<div id="dialog-form-message" class="hidden w-full whitespace-normal break-words" hx-on:kir:changed="this.classList.add('hidden'); this.textContent=''"></div>
			</form>
		</div>
	</div>
	@tmpl.CloseDialogScript()
	@tmpl.ShowSearchDialogScript()
	@tmpl.HideDropdownScript()
	@tmpl.ClearFieldErrorScript()
	@tmpl.HandleDblClickKontoSelectionScript()
	@tmpl.HandleFormResponseScript()
	@tmpl.ClearFormScript()
	@tmpl.HandleNextNalogResponseScript()
}

// Dialog - KPR Entry Form
templ DialogKprUnos(knjigaValues, tipdokValues []domain.ComboItem, btnSave, btnCancel domain.Button, translator *i18n.Service) {
	<!-- Dialog Container -->
	<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
		<div class="bg-white rounded-lg shadow-xl max-w-5xl w-full mx-4 max-h-[90vh] overflow-y-auto">
			<!-- Header -->
			<div class="bg-blue-600 text-white h-9 flex justify-between items-center rounded-t-lg">
				<h2 class="text-lg font-semibold ml-4">{ translator.Title("Unos podataka - Knjiga primljenih računa") }</h2>
				<button onclick="closeDialog()" class="text-white hover:text-gray-200 mr-4">
					<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
				</button>
			</div>
			<!-- Form Content -->
			<div class="p-2 space-y-1">
				<!-- Top Controls -->
				<div class="pl-2 pb-1">
					<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Vrste knjige ulaznih računa") }</div>
					<div class="space-y-1 pt-2">
						<!-- Row 1: Book Type -->
						<div class="flex items-center gap-1">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "knjiga",
								LabelText:  translator.Label("Vrsta knjige računa"),
								ClassLabel: common.ClassLabel + " w-32",
							})
							@components.ComboBoxField(domain.ComboFieldConfig{
								ID:           "knjiga",
								Name:         "knjiga",
								ClassSelect:  common.ClassSelect + " w-96",
								OptionValues: knjigaValues,
								TabIndex:     "1",
							}, translator)
						</div>
						<!-- Row 2: Checkbox -->
						<div class="flex items-center gap-1">
							<input type="checkbox" id="interniracun" name="interniracun" class="w-4 h-4 text-blue-600 rounded"/>
							<label for="interniracun" class="font-medium text-gray-700">{ translator.Label("Interni račun") }</label>
						</div>
					</div>
				</div>
				<!-- Section 1: OSNOVNI PODACI -->
				<div class="pl-2 pb-1">
					<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Osnovni podaci") }</div>
					<div class="space-y-1 pt-2">
						<!-- Row 1 -->
						<div class="flex items-center gap-1">
							<div class="flex items-center gap-2 w-1/3">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "redbroj",
									LabelText:  translator.Label("Redni broj"),
									ClassLabel: "w-36",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "redbroj",
									Name:       "redbroj",
									FieldType:  "text",
									ClassInput: common.ClassInputTextEnabled + " w-36",
									TabIndex:   "1",
								})
								<span class="font-medium text-gray-600 text-center">1</span>
							</div>
							<div class="flex items-center gap-2 flex-1">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "vrstanaloga",
									LabelText:  translator.Label("Vrsta naloga"),
									ClassLabel: "w-44",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "vrstanaloga",
									Name:       "vrstanaloga",
									FieldType:  "text",
									ClassInput: common.ClassInputTextEnabled + " flex-1",
									TabIndex:   "2",
								})
							</div>
						</div>
						<!-- Row 2 -->
						<div class="flex items-center gap-1">
							<div class="flex items-center gap-2 w-1/3">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "dknjiz",
									LabelText:  translator.Label("Datum knjiženja"),
									ClassLabel: "w-36",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "dknjiz",
									Name:       "dknjiz",
									FieldType:  "date",
									ClassInput: common.ClassInputTextEnabled + " w-36",
									TabIndex:   "3",
								})
							</div>
							<div class="flex items-center gap-2 flex-1">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "brojnaloga",
									LabelText:  translator.Label("Broj naloga"),
									ClassLabel: "w-44",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "brojnaloga",
									Name:       "brojnaloga",
									FieldType:  "text",
									ClassInput: common.ClassInputTextEnabled + " flex-1 w-32",
									TabIndex:   "4",
								})
								<span class="font-medium text-gray-600 text-center">2</span>
							</div>
						</div>
						<!-- Row 3 -->
						<div class="flex items-center gap-1">
							<div class="flex items-center gap-2 w-1/3">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "brdokumenta",
									LabelText:  translator.Label("Broj dokumenta"),
									ClassLabel: "w-36",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "brdokumenta",
									Name:       "brdokumenta",
									FieldType:  "text",
									ClassInput: common.ClassInputTextEnabled + " w-36",
									TabIndex:   "5",
								})
								<span class="font-medium text-gray-600 text-center">3</span>
							</div>
							<div class="flex items-center gap-2 w-1/3">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "dizd",
									LabelText:  translator.Label("Datum izdavanja"),
									ClassLabel: "w-44 mr-5",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "dizd",
									Name:       "dizd",
									FieldType:  "date",
									ClassInput: common.ClassInputTextEnabled + " w-36",
									TabIndex:   "6",
								})
								<span class="font-medium text-gray-600 text-center">4</span>
							</div>
							<div class="flex items-center gap-2 flex-1">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "datprometa",
									LabelText:  translator.Label("Datum prometa"),
									ClassLabel: "w-36",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "datprometa",
									Name:       "datprometa",
									FieldType:  "date",
									ClassInput: common.ClassInputTextEnabled + " flex-1 w-32",
									TabIndex:   "7",
								})
							</div>
						</div>
						<!-- Row 4: Konto and Search -->
						<div class="flex items-center gap-1">
							<div class="flex items-center gap-2 w-1/3">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "kontodobavljaca",
									LabelText:  translator.Label("Konto dobavljača"),
									ClassLabel: "w-36",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "kontodobavljaca",
									Name:       "kontodobavljaca",
									FieldType:  "text",
									ClassInput: common.ClassInputTextEnabled + " w-36",
									MinLength:  "4",
									MaxLength:  "6",
									TabIndex:   "8",
								})
							</div>
							<div class="flex items-center gap-1 w-1/3">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "analiticka",
									LabelText:  translator.Label("Analitička šifra"),
									ClassLabel: "w-44 mr-1",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "analiticka",
									Name:       "analiticka",
									FieldType:  "text",
									ClassInput: common.ClassInputTextEnabled + " w-24",
									MinLength:  "2",
									MaxLength:  "6",
									TabIndex:   "9",
								})
								@components.SearchButton(domain.SearchButtonConfig{
									ID:          "konto",
									Name:        "search-konto",
									HxUrl:       "/api/promet/searchbutton",
									HxTarget:    "#search-dropdown",
									HxSwap:      "innerHTML",
									HxVals:      `{"vkonta": "2"}`,
									ClassButton: common.ClassButton,
								})
							</div>
						</div>
						<!-- Row 5: Supplier Name and PIB -->
						<div class="flex items-center gap-1">
							<div class="flex items-center gap-2 flex-1">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "naziv",
									LabelText:  translator.Label("Naziv dobavljača"),
									ClassLabel: " w-36",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "naziv",
									Name:       "naziv",
									FieldType:  "text",
									ClassInput: common.ClassInputTextDisabled + " flex-1 ",
									Disabled:   true,
									TabIndex:   "10",
								})
								<span class="font-medium text-gray-600 text-center">5</span>
							</div>
							<div class="flex items-center gap-2 w-1/3">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "pib",
									LabelText:  translator.Label("PIB"),
									ClassLabel: " w-12",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pib",
									Name:       "pib",
									FieldType:  "text",
									ClassInput: common.ClassInputTextDisabled + " w-24",
									TabIndex:   "11",
									Disabled:   true,
								})
								<span class="font-medium text-gray-600 text-center">6</span>
							</div>
						</div>
						<!-- Row 6: Address fields -->
						<div class="flex items-center gap-1">
							<div class="flex items-center gap-2 flex-1">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "adresa",
									LabelText:  translator.Label("Adresa"),
									ClassLabel: "w-36",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "adresa",
									Name:       "adresa",
									FieldType:  "text",
									ClassInput: common.ClassInputTextDisabled + " flex-1",
									Disabled:   true,
									TabIndex:   "12",
								})
							</div>
							<div class="flex items-center gap-2 w-1/4">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "pobroj",
									LabelText:  translator.Label("Poštanski broj"),
									ClassLabel: "w-24",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "pobroj",
									Name:       "pobroj",
									FieldType:  "text",
									ClassInput: common.ClassInputTextDisabled + " w-20",
									TabIndex:   "13",
									Disabled:   true,
								})
							</div>
							<div class="flex items-center gap-2 w-1/4">
								@components.LabelField(domain.LabelFieldConfig{
									ID:         "mesto",
									LabelText:  translator.Label("Mesto"),
									ClassLabel: "w-16",
								})
								@components.TextInputField(domain.InputFieldConfig{
									ID:         "mesto",
									Name:       "mesto",
									FieldType:  "text",
									ClassInput: common.ClassInputTextDisabled + " w-full",
									TabIndex:   "14",
									Disabled:   true,
								})
							</div>
						</div>
					</div>
				</div>
				<!-- Section 2: PODACI O PDV, UKUPNIM IZNOSIMA -->
				<div class="pl-2 pb-1">
					<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Podaci o PDV, ukupnim iznosima") }</div>
					<div class="space-y-1 pt-2">
						<!-- Row 1 -->
						<div class="flex items-center gap-2">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "iznsapdv",
								LabelText:  translator.Label("Iznos sa PDV"),
								ClassLabel: "w-96",
							})
							@components.TextInputField(domain.InputFieldConfig{
								ID:            "iznsapdv",
								Name:          "iznsapdv",
								Value:         "0.00",
								FieldType:     "number",
								ClassInput:    common.ClassInputTextEnabled + " w-32 text-right",
								DecimalPlaces: 2,
								TabIndex:      "15",
							})
							<span class="font-medium text-gray-600 text-center">8</span>
						</div>
						<!-- Row 2 -->
						<div class="flex items-center gap-2">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "iznoslob",
								LabelText:  translator.Label("Iznos oslobođen"),
								ClassLabel: "w-96",
							})
							@components.TextInputField(domain.InputFieldConfig{
								ID:            "iznoslob",
								Name:          "iznoslob",
								Value:         "0.00",
								ClassInput:    common.ClassInputTextEnabled + " w-32 text-right",
								DecimalPlaces: 2,
								FieldType:     "number",
								TabIndex:      "16",
							})
							<span class="font-medium text-gray-600 text-center">9</span>
						</div>
						<!-- Row 3 -->
						<div class="flex items-center gap-2">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "nisuobvpdv",
								LabelText:  translator.Label("Nisu obavezni PDV"),
								ClassLabel: "w-96",
							})
							@components.TextInputField(domain.InputFieldConfig{
								ID:            "nisuobvpdv",
								Name:          "nisuobvpdv",
								Value:         "0.00",
								ClassInput:    common.ClassInputTextEnabled + " w-32 text-right",
								DecimalPlaces: 2,
								FieldType:     "number",
								TabIndex:      "17",
							})
							<span class="font-medium text-gray-600 text-center">10</span>
						</div>
						<!-- Row 4 -->
						<div class="flex items-center gap-2">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "uvozbezpdv",
								LabelText:  translator.Label("Uvoz bez PDV"),
								ClassLabel: "w-96",
							})
							@components.TextInputField(domain.InputFieldConfig{
								ID:            "uvozbezpdv",
								Name:          "uvozbezpdv",
								Value:         "0.00",
								ClassInput:    common.ClassInputTextEnabled + " w-32 text-right",
								DecimalPlaces: 2,
								FieldType:     "number",
								TabIndex:      "18",
							})
							<span class="font-medium text-gray-600 text-center">11</span>
						</div>
					</div>
				</div>
				<!-- Section 3: PRETHODNI POREZ -->
				<div class="pl-2 pb-1">
					<div class="font-bold text-xs text-gray-900 border-b-2 border-gray-400">{ translator.Text("Prethodni porez") }</div>
					<div class="space-y-1 pt-2">
						<!-- Row 1 -->
						<div class="flex items-center gap-2">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "pretpdv",
								LabelText:  translator.Label("Prethodni PDV"),
								ClassLabel: "w-96",
							})
							@components.TextInputField(domain.InputFieldConfig{
								ID:            "pretpdv",
								Name:          "pretpdv",
								Value:         "0.00",
								ClassInput:    common.ClassInputTextEnabled + " w-32 text-right",
								FieldType:     "number",
								DecimalPlaces: 2,
								TabIndex:      "19",
							})
							<span class="font-medium text-gray-600 text-center">12</span>
						</div>
						<!-- Row 2 -->
						<div class="flex items-center gap-2">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "pretpdv1",
								LabelText:  translator.Label("Prethodni PDV 1"),
								ClassLabel: "w-96",
							})
							@components.TextInputField(domain.InputFieldConfig{
								ID:            "pretpdv1",
								Name:          "pretpdv1",
								Value:         "0.00",
								ClassInput:    common.ClassInputTextEnabled + " w-32 text-right",
								FieldType:     "number",
								DecimalPlaces: 2,
								TabIndex:      "20",
							})
							<span class="font-medium text-gray-600 text-center">13</span>
						</div>
						<!-- Row 3 -->
						<div class="flex items-center gap-2">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "pretpdv2",
								LabelText:  translator.Label("Prethodni PDV 2"),
								ClassLabel: "w-96",
							})
							@components.TextInputField(domain.InputFieldConfig{
								ID:            "pretpdv2",
								Name:          "pretpdv2",
								Value:         "0.00",
								ClassInput:    common.ClassInputTextEnabled + " w-32 text-right",
								FieldType:     "number",
								DecimalPlaces: 2,
								TabIndex:      "21",
							})
							<span class="font-medium text-gray-600 text-center">14</span>
						</div>
						<!-- Row 4 -->
						<div class="flex items-center gap-2">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "uvozpdv",
								LabelText:  translator.Label("Uvoz PDV"),
								ClassLabel: "w-96",
							})
							@components.TextInputField(domain.InputFieldConfig{
								ID:            "uvozpdv",
								Name:          "uvozpdv",
								Value:         "0.00",
								ClassInput:    common.ClassInputTextEnabled + " w-32 text-right",
								FieldType:     "number",
								DecimalPlaces: 2,
								TabIndex:      "22",
							})
							<span class="font-medium text-gray-600 text-center">15</span>
						</div>
						<!-- Row 5 -->
						<div class="flex items-center gap-2">
							@components.LabelField(domain.LabelFieldConfig{
								ID:         "poljvred",
								LabelText:  translator.Label("Polje vrednost"),
								ClassLabel: "w-96",
							})
							@components.TextInputField(domain.InputFieldConfig{
								ID:            "poljvred",
								Name:          "poljvred",
								Value:         "0.00",
								ClassInput:    common.ClassInputTextEnabled + " w-32 text-right",
								FieldType:     "number",
								DecimalPlaces: 2,
								TabIndex:      "23",
							})
							<span class="font-medium text-gray-600 text-center">16</span>
						</div>
					</div>
					<!-- Action Buttons -->
					<div class="flex justify-end gap-2 pt-2 border-t border-gray-300">
						@components.SaveButton(btnSave, translator)
						@components.CancelButton(btnCancel, translator)
					</div>
				</div>
			</div>
		</div>
	</div>
}
