package finansijsko

import (
	"fmt"
	tmpl "helia/frontend/templates"
	"helia/internal/domain"
	"helia/pkg/utils"
)

templ PrometMain(tabs domain.TabData, tbl domain.TableData, btnPrint, btnObrada domain.Button, total domain.PrometTotalValues) {
	<!-- Tab Content -->
	<div id="tab-content" class="flex flex-col h-full">
		@PrometAnalitickihKonta(tabs, tbl, btnPrint, btnObrada, total)
	</div>
	<script>
        // Tab switching functionality
        document.addEventListener('DOMContentLoaded', function() {
            // Set first tab as active
            document.querySelector('[hx-get="/promet/analitickakonta"]').classList.remove('bg-gray-200', 'text-gray-700');
            document.querySelector('[hx-get="/promet/analitickakonta"]').classList.add('bg-blue-600', 'text-white');
            
            // Tab click handler
            document.querySelectorAll('[hx-get^="/promet"]').forEach(tab => {
                tab.addEventListener('click', function() {
                    // Update tab styles
                    document.querySelectorAll('[hx-get^="/promet"]').forEach(t => {
                        t.classList.remove('bg-blue-600', 'text-white');
                        t.classList.add('bg-gray-200', 'text-gray-700');
                    });
                    this.classList.remove('bg-gray-200', 'text-gray-700');
                    this.classList.add('bg-blue-600', 'text-white');
                });
            });
        });
    </script>
}

templ PrometNav(tabs domain.TabData) {
	<h2 class="text-xl font-semibold">PROMET</h2>
	<nav class="py-1 h-8 text-sm font-medium text-gray-700 flex items-center whitespace-nowrap" aria-label="Tabs">
		for _, item := range tabs.Tabs {
			<input id={ fmt.Sprintf("tab%s", item.Name) } type="hidden" name="sourceTab" value={ item.Name }/>
			<button
				id={ item.ID }
				if item.IsActive {
					class="whitespace-nowrap rounded-t-lg py-1 px-1 font-medium text-sm rounded-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
				} else {
					class="whitespace-nowrap rounded-t-lg py-1 px-1 font-medium text-sm rounded-sm text-gray-600 bg-white border border-gray-300 hover:text-blue-700 hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-blue-500"
				}
				hx-get={ item.HXRequestUrl }
				hx-target="#tab-content"
				hx-swap="innerHTML"
				hx-headers='{"X-Request-Source": "tab"}'
				aria-controls="promet-panel"
				aria-selected={ fmt.Sprintf("%v", item.IsActive) }
			>
				{ item.Label }
			</button>
		}
	</nav>
}

// Tab 1 - Promet analitickih konta
templ PrometAnalitickihKonta(tabs domain.TabData, tbl domain.TableData, btnPrint, btnObrada domain.Button, total domain.PrometTotalValues) {
	<!-- Tab Navigation -->
	@PrometNav(tabs)
	<!-- Tab 1 Content -->
	<div id="tab1">
		<!-- First Row - Two divs side by side -->
		<div class="grid grid-cols-2 gap-1">
			<!-- Parameters Div - Left Aligned -->
			<div class="border bg-blue-100 border border-blue-400 mt-1 mb-1 p-1 rounded-lg">
				<div class="flex items-center gap-2 mb-1">
					@KontoField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "konto",
						Name:        "search-konto",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "2"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("kontonaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@SifraField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "sifra",
						Name:        "search-sifra",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "1"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("sifranaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "oddatuma",
						Name:       "oddatuma",
						LabelText:  "Od datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "3",
					})
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "dodatuma",
						Name:       "dodatuma",
						LabelText:  "Do datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "4",
					})
				</div>
				<div class="mb-1 flex items-center justify-between h-6">
					<!-- Checkbox group on the left -->
					<div class="flex items-center">
						<input type="checkbox" class="h-4 w-4 rounded border border-blue-400 text-blue-600 focus:ring-blue-500"/>
						<span class="ml-1 text-sm text-gray-700">Dodatni parametri</span>
					</div>
					<!-- Buttons on the right -->
					<div class="flex items-center space-x-1">
						@tmpl.FormObradaButton(btnObrada)
						@tmpl.FormPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Values Div - Numeric Right Aligned -->
			<div class="border mt-1 mb-1 bg-blue-100 border border-blue-400 p-1 rounded-lg">
				@TotalValues(total)
			</div>
		</div>
		<div class="flex flex-col">
			<!-- Parent should have: class="flex flex-col" -->
			<!-- Table Section -->
			<div id="promettable" class="flex-1 rounded-t-lg overflow-x-auto overflow-y-auto border border-gray-200 rounded-lg">
				@tmpl.Table(tbl)
			</div>
		</div>
	</div>
}

// Tab 2 - Analiticka kartica po mestama isporuke
templ AnalitickaKarticaPoMI(tabs domain.TabData, tbl domain.TableData, btnPrint, btnObrada domain.Button, total domain.PrometTotalValues) {
	<!-- Tab Navigation -->
	@PrometNav(tabs)
	<div id="tab2">
		<!-- Two divs side by side -->
		<!-- First Row - Two divs side by side -->
		<div class="grid grid-cols-2 gap-1">
			<!-- Parameters Div - Left Aligned -->
			<div class="border bg-blue-100 border border-blue-400 mt-1 mb-1 p-1 rounded-lg">
				<div class="flex items-center gap-2 mb-1">
					@KontoField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "konto",
						Name:        "search-konto",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "2"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("kontonaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@SifraField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "sifra",
						Name:        "search-sifra",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "1"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("sifranaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "oddatuma",
						Name:       "oddatuma",
						LabelText:  "Od Datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "3",
					})
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "dodatuma",
						Name:       "dodatuma",
						LabelText:  "Do Datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "4",
					})
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:           "odmi",
						Name:         "odmi",
						LabelText:    "Od Mesta Isp.",
						FieldType:    "text",
						HasLabel:     true,
						Disabled:     false,
						ClassInput:   utils.ClassInputTextEnabled + " w-24",
						ClassLabel:   utils.ClassLabel + " w-20",
						BlurEndpoint: "api/mi/trazimi",
						HxTarget:     "odminaziv",
						MinLength:    "1",
						MaxLength:    "6",
						TabIndex:     "5",
					})
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "odmi",
						Name:        "search-odmi",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						ClassButton: utils.ClassButton,
					})
					@NazivField("odminaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:           "domi",
						Name:         "domi",
						Value:        "999",
						LabelText:    "Do Mesta Isp.",
						FieldType:    "text",
						HasLabel:     true,
						Disabled:     false,
						ClassInput:   utils.ClassInputTextEnabled + " w-24",
						ClassLabel:   utils.ClassLabel + " w-20",
						BlurEndpoint: "api/mi/trazimi",
						HxTarget:     "dominaziv",
						MinLength:    "1",
						MaxLength:    "6",
						TabIndex:     "6",
					})
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "search-domi",
						Name:        "search-domi",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						ClassButton: utils.ClassButton,
					})
					@NazivField("dominaziv")
				</div>
				<div class="mb-1 flex items-center justify-between h-6">
					<!-- Checkbox group on the left -->
					<div class="flex items-center">
						<input type="checkbox" class="h-4 w-4 rounded border border-blue-400 text-blue-600 focus:ring-blue-500"/>
						<span class="ml-1 text-sm text-gray-700">Dodatni parametri</span>
					</div>
					<!-- Buttons on the right -->
					<div class="flex items-center space-x-1">
						@tmpl.FormObradaButton(btnObrada)
						@tmpl.FormPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Values Div - Numeric Right Aligned -->
			<div class="border mt-1 mb-1 bg-blue-100 border border-blue-400 p-1 rounded-lg">
				@TotalValues(total)
			</div>
		</div>
		<div class="flex flex-col h-full">
			<!-- Parent should have: class="flex flex-col" -->
			<!-- Table Section -->
			<div id="promettable" class="flex-1 overflow-x-auto overflow-y-auto border border-gray-200 rounded-lg">
				@tmpl.Table(tbl)
			</div>
		</div>
	</div>
}

// Tab 3 - Promet deviznih analitickih konta
templ PrometDeviznihAnalitickihKonta(tabs domain.TabData, tbl domain.TableData, tblDevizni domain.TableData, btnPrint, btnObrada domain.Button, total domain.PrometTotalValues) {
	<!-- Tab Navigation -->
	@PrometNav(tabs)
	<div id="tab3">
		<!-- First Row - Two divs side by side -->
		<div class="grid grid-cols-2 gap-1">
			<!-- Parameters Div - Left Aligned -->
			<div class="border bg-blue-100 border border-blue-400 mt-1 mb-1 p-1 rounded-lg">
				<div class="flex items-center gap-2 mb-1">
					@KontoField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "konto",
						Name:        "search-konto",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "2"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("kontonaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@SifraField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "sifra",
						Name:        "search-sifra",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "1"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("sifranaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "oddatuma",
						Name:       "oddatuma",
						LabelText:  "Od datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "3",
					})
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "dodatuma",
						Name:       "dodatuma",
						LabelText:  "Do datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "4",
					})
				</div>
				<div class="mb-1 flex items-center justify-between h-6">
					<!-- Checkbox group on the left -->
					<div class="flex items-center">
						<input type="checkbox" class="h-4 w-4 rounded border border-blue-400 text-blue-600 focus:ring-blue-500"/>
						<span class="ml-1 text-sm text-gray-700">Dodatni parametri</span>
					</div>
					<!-- Buttons on the right -->
					<div class="flex items-center space-x-1">
						@tmpl.FormObradaButton(btnObrada)
						@tmpl.FormPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Values Div - Numeric Right Aligned -->
			<div class="border mt-1 mb-1 bg-blue-100 border border-blue-400 p-1 rounded-lg">
				@TotalValues(total)
			</div>
		</div>
		<div class="flex flex-col h-full">
			<!-- Parent should have: class="flex flex-col" -->
			<!-- Table Section -->
			<div id="promettable" class="flex-1 overflow-x-auto overflow-y-auto border border-gray-200 rounded-lg">
				@tmpl.Table(tbl)
			</div>
		</div>
		<div class="flex flex-col h-full">
			<!-- Parent should have: class="flex flex-col" -->
			<!-- Table Section -->
			<div id="promettable" class="flex-1 overflow-x-auto overflow-y-auto border border-gray-200 rounded-lg">
				@tmpl.Table(tbl)
			</div>
		</div>
	</div>
}

templ PrometSubsintetickihKonta(tabs domain.TabData, tbl domain.TableData, btnPrint, btnObrada domain.Button, total domain.PrometTotalValues) {
	<!-- Tab Navigation -->
	@PrometNav(tabs)
	<div id="tab4">
		<!-- First Row - Two divs side by side -->
		<div class="grid grid-cols-2 gap-1">
			<!-- Parameters Div - Left Aligned -->
			<div class="border bg-blue-100 border border-blue-400 mt-1 mb-1 p-1 rounded-lg">
				<div class="flex items-center gap-2 mb-1">
					@KontoField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "konto",
						Name:        "search-konto",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "2"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("kontonaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "oddatuma",
						Name:       "oddatuma",
						LabelText:  "Od datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "3",
					})
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "dodatuma",
						Name:       "dodatuma",
						LabelText:  "Do datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "4",
					})
				</div>
				<div class="mb-1 flex items-center justify-between h-6">
					<!-- Checkbox group on the left -->
					<div class="flex items-center">
						<input type="checkbox" class="h-4 w-4 rounded border border-blue-400 text-blue-600 focus:ring-blue-500"/>
						<span class="ml-1 text-sm text-gray-700">Dodatni parametri</span>
					</div>
					<!-- Buttons on the right -->
					<div class="flex items-center space-x-1">
						@tmpl.FormObradaButton(btnObrada)
						@tmpl.FormPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Values Div - Numeric Right Aligned -->
			<div class="border mt-1 mb-1 bg-blue-100 border border-blue-400 p-1 rounded-lg">
				@TotalValues(total)
			</div>
		</div>
		<div class="flex flex-col h-full">
			<!-- Parent should have: class="flex flex-col" -->
			<!-- Table Section -->
			<div id="promettable" class="flex-1 overflow-x-auto overflow-y-auto border border-gray-200 rounded-lg">
				@tmpl.Table(tbl)
			</div>
		</div>
	</div>
}

templ PrometSintetickihKonta(tabs domain.TabData, tbl domain.TableData, btnPrint, btnObrada domain.Button, total domain.PrometTotalValues) {
	<!-- Tab Navigation -->
	@PrometNav(tabs)
	<div id="tab5">
		<!-- First Row - Two divs side by side -->
		<div class="grid grid-cols-2 gap-1">
			<!-- Parameters Div - Left Aligned -->
			<div class="border bg-blue-100 border border-blue-400 mt-1 mb-1 p-1 rounded-lg">
				<div class="flex items-center gap-2 mb-1">
					@KontoField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "konto",
						Name:        "search-konto",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "2"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("kontonaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "oddatuma",
						Name:       "oddatuma",
						LabelText:  "Od datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "3",
					})
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "dodatuma",
						Name:       "dodatuma",
						LabelText:  "Do datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "4",
					})
				</div>
				<div class="mb-2 flex items-center justify-between h-6">
					<!-- Checkbox group on the left -->
					<div class="flex items-center">
						<input type="checkbox" class="h-4 w-4 rounded border border-blue-400 text-blue-600 focus:ring-blue-500"/>
						<span class="ml-1 text-sm text-gray-700">Prikazi analitiku</span>
					</div>
					<!-- Buttons on the right -->
					<div class="flex items-center space-x-1">
						@tmpl.FormObradaButton(btnObrada)
						@tmpl.FormPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Values Div - Numeric Right Aligned -->
			<div class="border mt-1 mb-1 bg-blue-100 border border-blue-400 p-1 rounded-lg">
				@TotalValues(total)
			</div>
		</div>
		<div class="flex flex-col h-full">
			<!-- Parent should have: class="flex flex-col" -->
			<!-- Table Section -->
			<div id="promettable" class="flex-1 overflow-x-auto overflow-y-auto border border-gray-200 rounded-lg">
				@tmpl.Table(tbl)
			</div>
		</div>
	</div>
}

templ KarticaSintetickiKonta(tabs domain.TabData, tbl domain.TableData, btnPrint, btnObrada domain.Button, total domain.PrometTotalValues) {
	<!-- Tab Navigation -->
	@PrometNav(tabs)
	<div id="tab6">
		<!-- First Row - Two divs side by side -->
		<div class="grid grid-cols-2 gap-1">
			<!-- Parameters Div - Left Aligned -->
			<div class="border bg-blue-100 border border-blue-400 mt-1 mb-1 p-1 rounded-lg">
				<div class="flex items-center gap-2 mb-1">
					@KontoField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "konto",
						Name:        "search-konto",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "2"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("kontonaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "oddatuma",
						Name:       "oddatuma",
						LabelText:  "Od datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "3",
					})
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "dodatuma",
						Name:       "dodatuma",
						LabelText:  "Do datuma",
						FieldType:  "date",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-28",
						ClassLabel: utils.ClassLabel + " w-20",
						TabIndex:   "4",
					})
				</div>
				<div class="mb-2 flex items-center justify-between h-6">
					<!-- Checkbox group on the left -->
					<div class="flex items-center">
						<input type="checkbox" class="h-4 w-4 rounded border border-blue-400 text-blue-600 focus:ring-blue-500"/>
						<span class="ml-1 text-sm text-gray-700">Prikazi analitiku</span>
					</div>
					<!-- Buttons on the right -->
					<div class="flex items-center space-x-1">
						@tmpl.FormObradaButton(btnObrada)
						@tmpl.FormPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Values Div - Numeric Right Aligned -->
			<div class="border mt-1 mb-1 bg-blue-100 border border-blue-400 p-1 rounded-lg">
				@TotalValues(total)
			</div>
		</div>
		<div class="flex flex-col h-full">
			<!-- Parent should have: class="flex flex-col" -->
			<!-- Table Section -->
			<div id="promettable" class="flex-1 overflow-x-auto overflow-y-auto border border-gray-200 rounded-lg">
				@tmpl.Table(tbl)
			</div>
		</div>
	</div>
}

templ PrometKontaPoVRD(tabs domain.TabData, tbl domain.TableData) {
	<!-- Tab Navigation -->
	@PrometNav(tabs)
	<div id="tab7"></div>
}

templ PrometKontaAnaliticki(tabs domain.TabData, tbl domain.TableData, btnPrint, btnObrada domain.Button, total domain.PrometTotalValues) {
	<!-- Tab Navigation -->
	@PrometNav(tabs)
	<div id="tab8">
		<!-- First Row - Two divs side by side -->
		<div class="grid grid-cols-2 gap-1">
			<!-- Parameters Div - Left Aligned -->
			<div class="border bg-blue-100 border border-blue-400 mt-1 mb-1 p-1 rounded-lg">
				<div class="flex items-center gap-2 mb-1">
					@KontoField()
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "konto",
						Name:        "search-konto",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "2"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("kontonaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:           "odsifre",
						Value:        "",
						LabelText:    "Od Sifre",
						FieldType:    "text",
						HasLabel:     true,
						Disabled:     false,
						ClassInput:   utils.ClassInputTextEnabled + " w-24",
						ClassLabel:   utils.ClassLabel + " w-20",
						BlurEndpoint: "api/fkpl/trazikonto",
						HxTarget:     "sifranaziv",
						HxVals:       `js:{"konto": document.getElementById('konto').value, "vkonta": "1"}`,
						MinLength:    "2",
						MaxLength:    "6",
						TabIndex:     "2",
					})
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "odsifre",
						Name:        "search-odsifre",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "1"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("odsifrenaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:           "dosifre",
						LabelText:    "Do Sifre",
						FieldType:    "text",
						HasLabel:     true,
						Disabled:     false,
						ClassInput:   utils.ClassInputTextEnabled + " w-24",
						ClassLabel:   utils.ClassLabel + " w-20",
						BlurEndpoint: "api/fkpl/trazikonto",
						HxTarget:     "sifranaziv",
						HxVals:       `js:{"konto": document.getElementById('konto').value, "vkonta": "1"}`,
						MinLength:    "2",
						MaxLength:    "6",
						TabIndex:     "3",
					})
					@tmpl.SearchButton(domain.SearchButtonConfig{
						ID:          "dosifre",
						Name:        "search-dodsfre",
						HxUrl:       "/api/promet/searchbutton",
						HxTarget:    "#search-dropdown",
						HxSwap:      "innerHTML",
						HxVals:      `{"vkonta": "1"}`,
						ClassButton: utils.ClassButton,
					})
					@NazivField("dosifrenaziv")
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "odnaloga",
						Name:       "odnaloga",
						LabelText:  "Od Naloga",
						FieldType:  "text",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-24",
						ClassLabel: utils.ClassLabel + " w-20",
						MinLength:  "1",
						MaxLength:  "10",
						TabIndex:   "4",
					})
				</div>
				<div class="flex items-center gap-2 mb-1">
					@tmpl.TextInputField(domain.InputFieldConfig{
						ID:         "donaloga",
						Name:       "donaloga",
						LabelText:  "Do Naloga",
						FieldType:  "text",
						HasLabel:   true,
						Disabled:   false,
						ClassInput: utils.ClassInputTextEnabled + " w-24",
						ClassLabel: utils.ClassLabel + " w-20",
						MinLength:  "1",
						MaxLength:  "10",
						TabIndex:   "5",
					})
				</div>
				<div class="mb-2 flex items-center justify-between h-6">
					<!-- Checkbox group on the left -->
					<div class="flex items-center"></div>
					<!-- Buttons on the right -->
					<div class="flex items-center space-x-1">
						@tmpl.FormObradaButton(btnObrada)
						@tmpl.FormPrintButton(btnPrint)
					</div>
				</div>
			</div>
			<!-- Values Div - Numeric Right Aligned -->
			<div class="border mt-1 mb-1 bg-blue-100 border border-blue-400 p-1 rounded-lg">
				@TotalValues(total)
			</div>
		</div>
		<div class="flex flex-col h-full">
			<!-- Parent should have: class="flex flex-col" -->
			<!-- Table Section -->
			<div id="promettable" class="flex-1 overflow-x-auto overflow-y-auto border border-gray-200 rounded-lg">
				@tmpl.Table(tbl)
			</div>
		</div>
	</div>
}

templ TotalValues(total domain.PrometTotalValues) {
	<div id="totalvalues" class="border p-1 rounded-lg">
		<div class="grid grid-cols-4 gap-1 mb-px text-sm font-medium text-gray-700 h-6 items-center">
			<div class="text-center"></div>
			<div class="text-center">Duguje</div>
			<div class="text-center">Potražuje</div>
			<div class="text-center">Saldo</div>
		</div>
		<div
			class="grid grid-cols-4 gap-1 mb-1 h-6 items-center"
			hx-get="/api/promet/totalvalues"
			hx-trigger="click from:#obrada-btn"
			hx-target="#totalvalues"
			hx-swap="innerHTML"
			hx-include="#konto, #sifra, #oddatuma, #dodatuma"
			>
			<div class="text-sm text-gray-600">Promet do:</div>
			@tmpl.NumericInputField("dugujedo", total.DugDo, 2, true, utils.ClassInputNumericDisabled)
			@tmpl.NumericInputField("potrazujedo", total.PotDo, 2, true, utils.ClassInputNumericDisabled)
			@tmpl.NumericInputField("saldodo", total.SaldoDo, 2, true, utils.ClassInputNumericDisabled)
		</div>
		<div class="grid grid-cols-4 gap-1 mb-1 h-6 items-center">
			<div class="text-sm text-gray-600">Promet za period:</div>
			@tmpl.NumericInputField("dugujeperiod", total.DugPer, 2, true, utils.ClassInputNumericDisabled)
			@tmpl.NumericInputField("potrazujeperiod", total.PotPer, 2, true, utils.ClassInputNumericDisabled)
			@tmpl.NumericInputField("saldoperiod", total.SaldoPer, 2, true, utils.ClassInputNumericDisabled)
		</div>
		<div class="grid grid-cols-4 gap-1 h-6 items-center">
			<div class="text-sm text-gray-600">Ukupan promet:</div>
			@tmpl.NumericInputField("dugujeukupno", total.DugTot, 2, true, utils.ClassInputNumericDisabled)
			@tmpl.NumericInputField("potrazujeukupno", total.PotTot, 2, true, utils.ClassInputNumericDisabled)
			@tmpl.NumericInputField("saldoukupno", total.SaldoTot, 2, true, utils.ClassInputNumericDisabled)
		</div>
	</div>
}

templ KontoField() {
	@tmpl.TextInputField(domain.InputFieldConfig{
		ID:           "konto",
		LabelText:    "Konto",
		FieldType:    "text",
		HasLabel:     true,
		Disabled:     false,
		ClassInput:   utils.ClassInputTextEnabled + " w-24",
		ClassLabel:   utils.ClassLabel + " w-24",
		BlurEndpoint: "api/fkpl/trazikonto",
		HxTarget:     "kontonaziv",
		HxVals:       `js:{"konto": document.getElementById('konto').value, "vkonta": "2"}`,
		HxInclude:    "this",
		MinLength:    "2",
		MaxLength:    "6",
		TabIndex:     "1"})
}

templ NazivField(id string) {
	@tmpl.TextInputField(domain.InputFieldConfig{
		ID:         id,
		FieldType:  "text",
		HasLabel:   false,
		Disabled:   true,
		ClassInput: utils.ClassInputTextDisabled,
	})
}

templ SifraField() {
	@tmpl.TextInputField(domain.InputFieldConfig{
		ID:           "sifra",
		LabelText:    "Sifra",
		FieldType:    "text",
		HasLabel:     true,
		Disabled:     false,
		ClassInput:   utils.ClassInputTextEnabled + " w-24",
		ClassLabel:   utils.ClassLabel + " w-24",
		BlurEndpoint: "api/fkpl/trazikonto",
		HxTarget:     "sifranaziv",
		HxVals:       `js:{"konto": document.getElementById('konto').value, "sifra": document.getElementById('sifra').value, "vkonta": "1"}`,
		HxInclude:    "this",
		MinLength:    "2",
		MaxLength:    "6",
		TabIndex:     "2"})
}
