package opstipodaci

import (
	"fmt"
	"helia/frontend/components"
	tmpl "helia/frontend/templates"
	"helia/i18n"
	"helia/internal/common"
	"helia/internal/domain"
)

templ AddUpdateForm(csrfToken string, dialog domain.Dialog, fields []domain.Fields, btnSave, btnCancel, btnClose domain.Button, translator *i18n.Service) {
	<div
		id={ dialog.Id }
		role="dialog"
		aria-modal="true"
		class={ common.ClassMainDialogDiv }
		tabindex="-1"
	>
		<div class="bg-white rounded-lg shadow-2xl relative animate-fade-in max-w-full w-auto">
			<!-- Title Bar (Flush on Left, Top, Right) -->
			<div class="bg-blue-600 text-white h-9 flex justify-between items-center rounded-t-lg">
				<h2 class="text-lg font-semibold ml-4">{ dialog.Title }</h2>
				@components.CloseButton(btnClose)
			</div>
			<form
				id="dialog-form"
				if dialog.HxRequestType == "PUT" {
					hx-put={ dialog.HxActionURL }
					hx-on::after-request="handleFormResponse(event, 'PUT', this.dataset.dialogId)"
				}
				if dialog.HxRequestType == "POST" {
					hx-post={ dialog.HxActionURL }
					hx-on::after-request="handleFormResponse(event, 'POST', this.dataset.dialogId)"
				}
				data-dialog-id={ dialog.Id }
				hx-target={ "#" + dialog.Id + "-message" }
				hx-boost="false"
				onsubmit="return false;"
				class="grid grid-cols-1 md:grid-cols-[auto,auto] gap-2 gap-x-4 p-3 bg-white shadow-lg rounded-lg w-auto"
			>
				<input type="hidden" name="_csrf" value={ csrfToken }/>
				for i, field  := range fields {
					<div class="flex flex-row items-center gap-1">
						@components.LabelField(domain.LabelFieldConfig{
							ID:         field.Name,
							LabelText:  translator.Label(field.Label),
							ClassLabel: common.ClassLabel + " w-40",
						})
						@components.TextInputField(domain.InputFieldConfig{
							ID:         field.Name,
							Name:       field.Name,
							FieldType:  field.Type,
							TabIndex:   fmt.Sprintf("%d", i+1),
							Value:      field.Value,
							MaxLength:  field.MaxLength,
							ClassInput: common.ClassInputTextEnabled + field.ControlWidth,
						})
					</div>
				}
				<div class="bg-white col-span-2 px-3 py-3 flex items-center justify-end pt-4 gap-1">
					@components.SaveButton(btnSave, translator)
					@components.CancelButton(btnCancel, translator)
				</div>
			</form>
			<!-- Message Display Area at Bottom -->
			<div id={ dialog.Id + "-message" } class="hidden"></div>
		</div>
	</div>
	@tmpl.HandleFormResponseScript()
	@tmpl.CloseDialogScript()
	@tmpl.DialogFocusTrapScript()
}
