package opstipodaci

import "helia/internal/domain"

templ PartneriForm(btn domain.Dialog) {
	<form hx-put={ btn.HxActionURL } hx-target="#info-message" class="grid grid-cols-2 gap-4 p-4 bg-white shadow-lg rounded-lg"></form>
}
