package robno

import (
	rep "helia/frontend/templates/reports"
	"helia/i18n"
	"helia/internal/domain"
)

templ FispStampa(repParams domain.ReportParameters, tbl domain.TableData, translator *i18n.Service) {
		@rep.Report(repParams, tbl, translator, nil, nil, nil)
	}

