package robno

import (
	rep "helia/frontend/templates/reports"
	"helia/i18n"
	"helia/internal/domain"
)

// MagacinKontoStampa renders a printable Magacin Konto report.
templ MagacinKontoStampa(repParams domain.ReportParameters, tbl domain.TableData, translator *i18n.Service) {
	@rep.Report(repParams, tbl, translator, nil, nil, nil)
}

