package templates

import "helia/i18n"

templ Content(isLoggedIn bool, translator *i18n.Service) {
	if isLoggedIn {
		<style>
			.content-with-bg {
				background-image: url('/frontend/static/helia_background.png');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		</style>

	} else {
		<div class="bg-white p-6 rounded-lg shadow-md">
			<h2 class="text-2xl font-bold mb-4">{ translator.Label("Niste prijavljeni") }</h2>
			<p class="text-gray-700">{ translator.Label("Prijavite se ili se registrujte") }</p>
		</div>
	}
}
