package templates

import "helia/internal/domain"
import "helia/internal/i18n"

templ ContentContainer(tbl domain.TableData, inputControl domain.InputControl, translator *i18n.Service) {
	@Search_Part(tbl, inputControl)
	@Table(tbl, translator)
	 <script>
	    document.addEventListener('htmx:afterSwap', (event) => {
	        if (event.detail.target.id === 'table') {
	            const currentPage = event.detail.xhr.responseURL.match(/page=(\d+)/);
	            if (currentPage) {
	                const page = parseInt(currentPage[1], 10);
	                document.querySelectorAll('.pagination .page-item').forEach((item) => {
	                    item.classList.remove('active');
	                });
	                const activeLink = document.querySelector(`.pagination .page-link[hx-get*="?page=${page}"]`);
	                if (activeLink) {
	                    activeLink.closest('.page-item').classList.add('active');
	                }
	            }
	        }
	    });
	</script>
}
