package templates

import "helia/internal/domain"
import "helia/internal/i18n"

templ DeleteDialog(csrfToken string, dialog domain.Dialog, btnConfirm, btnCancel, btnClose domain.Button, rowID string, translator *i18n.Service) {
	<div id={ dialog.Id } class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center p-4">
		<div class="bg-white rounded-lg shadow-2xl relative animate-fade-in max-w-full w-auto">
			<!-- Title Bar (Flush on Left, Top, Right) -->
			if btnConfirm.Id == "btn-delete" {
				<div class="bg-red-600 text-white h-9 flex justify-between items-center rounded-t-lg">
					<h2 class="text-lg font-semibold ml-4">{ translator.Title(dialog.Title) }</h2>
					@CloseButton(btnClose)
				</div>
			} else {
				<div class="bg-blue-600 text-white h-9 flex justify-between items-center rounded-t-lg">
					<h2 class="text-lg font-semibold ml-4">{ translator.Title(dialog.Title) }</h2>
					@CloseButton(btnClose)
				</div>
			}
			<!-- Content -->
			<form
				hx-delete={ dialog.HxActionURL }
				hx-target="#info-message"
				hx-boost="false"
				class="grid grid-cols-1 md:grid-cols-[auto,auto] gap-2 gap-x-4 p-3 bg-white shadow-lg rounded-lg w-auto"
			>
				<input type="hidden" name="_csrf" value={ csrfToken }/>
				<div class="px-1 py-1 col-span-2 max-h-[70vh] overflow-y-auto">
					<p class="mt-3 mb-3 ml-3 text-xl flex items-center justify-center gap-2">{ translator.Label("Brisanje sloga sa ID: ") } { rowID }?</p>
				</div>
				<div class="bg-white col-span-2 px-3 py-3 flex justify-end space-x-1 pt-4">
					@ConfirmButton(btnConfirm, translator)
					@CancelButton(btnCancel, translator)
				</div>
			</form>
		</div>
	</div>
	@CloseDialogScript()
	@ShowMessage()
	@DeactivateActionsColumn()
}
