package templates

import "helia/internal/domain"

templ DeleteDialog(dialog domain.Dialog) {
	@Dialog("delete-dialog", DeleteDialogContent(dialog.Id), dialog)
}

templ DeleteDialogContent(rowID string) {
	<p class="mb-6">Da li zelite da obrišete slog sa ID: { rowID }?</p>
}
