package templates

import (
	"fmt"
	"helia/internal/domain"
	"helia/i18n"
	"net/url"
	"strings"
)

templ TopMenu(isLoggedIn bool, username string, menuItems domain.MenuDataItems, currentMenu string, translator *i18n.Service, lang string) {
	<div class="bg-gradient-to-r from-blue-900 to-blue-900 text-white shadow-xl shadow-blue-600/50">
		<nav class="flex flex-wrap">
			for _, item := range menuItems.MenuItems {
				<button
					id={ fmt.Sprintf("menu-%s", strings.ReplaceAll(strings.ToLower(item.Name), " ", "-")) }
					name={ item.Name }
					hx-get={ fmt.Sprintf("/get-menu?menuName=%s", url.QueryEscape(item.Name)) }
					hx-trigger="click"
					hx-target="#side-menu"
					hx-swap="outerHTML"
					if item.Name == currentMenu {
						class="menu-btn px-2 py-2 font-medium border-r border-b rounded--t-md text-sm bg-white text-blue-800 focus:outline-none transition-colors duration-200"
					} else {
						class="menu-btn px-2 py-2 font-medium border-r border-b rounded-t-md text-sm focus:outline-none bg-blue-900 text-white transition-colors duration-200"
					}
					type="button"
					onclick="document.querySelectorAll('nav button').forEach(b => b.className = 'px-2 py-2 border-r border-b rounded-t-md font-medium text-sm bg-blue-900 text-white');
                this.className = 'px-2 py-2 border-r border-b rounded-t-md font-medium text-sm text-white bg-white text-blue-800';"
				>
					{ translator.Menu(item.Name) }
				</button>
			}
			<!-- Right-aligned items  -->
			<div class="ml-auto flex items-center space-x-4 pr-4">
				<a href="/" class="hover:text-blue-200">{translator.Label("Pocetna") }</a>
				if !isLoggedIn {
					<a href="/login" class="hover:text-blue-200">{translator.Label("Prijava") }</a>
					<a href="/register" class="hover:text-blue-200">{translator.Label("Registracija") }</a>
				} else {
					<a href="/logout" class="hover:text-blue-200">{translator.Label("Odjava") }</a>
					<span class="ml-4">{translator.Label("Dobrodosli") }, { username }</span>
				}
				<!-- Theme Toggle Button -->
				<button id="theme-toggle" class="p-2 rounded-full hover:bg-blue-700 focus:outline-none">
					<span id="theme-icon">🌙</span> <!-- Moon icon for dark mode -->
				</button>
			</div>
		</nav>
	</div>
}
