package templates

templ Head() {
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>HELIA</title>
		<link rel="shortcut icon" href="/frontend/static/lav_logo.png"/>
		<link rel="shortcut" href="/frontend/static/helia.png"/>
		<!-- Include your local Tailwind CSS output file -->
		<link rel="stylesheet" href="frontend/static/css/output.css"/>
		<script src="https://cdn.tailwindcss.com"></script>
		<!-- HTMX -->
		<script src="https://unpkg.com/htmx.org"></script>
		<!-- Chart.js -->
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</head>
}
