package templates

import (
	"fmt"
	"helia/internal/common"
	"helia/internal/domain"
	"helia/internal/i18n"
)

// modalConfirmButton returns a button with the appropriate hx-attribute.
// The default is hx-post.
templ ConfirmButton(btn domain.Button, translator *i18n.Service) {
	if (btn.HxRequestType == "DELETE") {
		<button
			id={ btn.Id }
			class={ btn.BtnClass }
			hx-delete={ btn.HxActionURL }
			hx-target={ btn.HxTarget }
			hx-swap={ btn.HxSwap }
			hx-vals='{"id": ""}'
			hx-on::after-request={ templ.JSFuncCall("handleDialogResponse", btn.IdDialog) }
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-1">
				<path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd"></path>
			</svg>
			{ translator.Button(btn.LabelText) }
		</button>
	}
	if (btn.HxRequestType == "PUT") {
		<button
			id={ btn.Id }
			class={ btn.BtnClass }
			hx-put={ btn.HxActionURL }
			hx-target={ btn.HxTarget }
			hx-swap={ btn.HxSwap }
			hx-on::after-request={ templ.JSFuncCall("handleDialogResponse", btn.IdDialog) }
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-1">
				<path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd"></path>
			</svg>
			{ translator.Button(btn.LabelText) }
		</button>
	}
	if  (btn.HxRequestType == "POST") {
		<button
			id={ btn.Id }
			class={ btn.BtnClass }
			hx-post={ btn.HxActionURL }
			hx-target={ btn.HxTarget }
			hx-swap={ btn.HxSwap }
			hx-on::after-request={ templ.JSFuncCall("handleDialogResponse", btn.IdDialog) }
		>
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-1">
				<path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd"></path>
			</svg>
			{ translator.Button(btn.LabelText) }
		</button>
	}
}

templ CancelButton(btn domain.Button, translator *i18n.Service) {
	<button
		id={ btn.Id }
		type="button"
		onclick={ templ.JSFuncCall("closeDialog", btn.IdDialog) }
		class={ btn.BtnClass }
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 mr-1">
			<path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.72 6.97a.75.75 0 1 0-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 1 0 1.06 1.06L12 13.06l1.72 1.72a.75.75 0 1 0 1.06-1.06L13.06 12l1.72-1.72a.75.75 0 1 0-1.06-1.06L12 10.94l-1.72-1.72Z" clip-rule="evenodd"></path>
		</svg>
		{ translator.Button(btn.LabelText) }
	</button>
}

templ CloseButton(btn domain.Button) {
	<button
		id={ btn.Id }
		type="button"
		onclick={ templ.JSFuncCall("closeDialog", btn.IdDialog) }
		class={ btn.BtnClass }
	>
		<svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
		</svg>
	</button>
}

templ AddButton(btn domain.Button, translator *i18n.Service) {
	<button
		id={ btn.Id }
		class={ btn.BtnClass }
		if btn.HxRequestType == "POST" {
			hx-post={ btn.HxActionURL }
		}
		if btn.HxRequestType == "GET" {
			hx-get={ btn.HxActionURL }
		}
		if btn.HxRequestType == "DELETE" {
			hx-delete={ btn.HxActionURL }
		}
		if btn.HxRequestType == "PUT" {
			hx-put={ btn.HxActionURL }
		}
		if btn.HxTarget != "" {
			hx-target={ btn.HxTarget }
		}
		if btn.HxSwap != "" {
			hx-swap={ btn.HxSwap }
		}
		if btn.HxInclude != "" {
			hx-include={ btn.HxInclude }
		}
		if btn.HxOnAfterRequest != "" {
			hx-on::after-request={ templ.JSFuncCall(fmt.Sprintf("%s", btn.HxOnAfterRequest), btn.IdDialog) }
		}
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-2">
			<path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd"></path>
		</svg>
		{ translator.Button(btn.LabelText) }
	</button>
}

templ SaveButton(btn domain.Button, translator *i18n.Service) {
	<button
		id={ btn.Id }
		class={ btn.BtnClass }
		if btn.HxRequestType == "POST" {
			hx-post={ btn.HxActionURL }
		}
		if btn.HxRequestType == "GET" {
			hx-get={ btn.HxActionURL }
		}
		if btn.HxRequestType == "DELETE" {
			hx-delete={ btn.HxActionURL }
		}
		if btn.HxRequestType == "PUT" {
			hx-put={ btn.HxActionURL }
		}
		if btn.HxTarget != "" {
			hx-target={ btn.HxTarget }
		}
		if btn.HxSwap != "" {
			hx-swap={ btn.HxSwap }
		}
		if btn.HxOnAfterRequest != "" {
			hx-on::after-request={ templ.JSFuncCall("handleDialogResponse", btn.IdDialog) }
		}
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-2">
			<path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm13.36-1.814a.75.75 0 1 0-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 0 0-1.06 1.06l2.25 2.25a.75.75 0 0 0 1.14-.094l3.75-5.25Z" clip-rule="evenodd"></path>
		</svg>
		{ translator.Button(btn.LabelText) }
	</button>
}

templ FormObradaButton(btn domain.Button, translator *i18n.Service) {
	<button
		id={ btn.Id }
		class={ btn.BtnClass }
		if btn.HxRequestType == "POST" {
			hx-post={ btn.HxActionURL }
		}
		if btn.HxRequestType == "GET" {
			hx-get={ btn.HxActionURL }
		}
		if btn.HxRequestType == "DELETE" {
			hx-delete={ btn.HxActionURL }
		}
		if btn.HxRequestType == "PUT" {
			hx-put={ btn.HxActionURL }
		}
		if btn.HxTarget !="" {
			hx-target={ btn.HxTarget }
		}
		if btn.HxSwap !="" {
			hx-swap={ btn.HxSwap }
		}
		if btn.HxInclude !="" {
			hx-include={ btn.HxInclude }
		}
		if btn.HxVals !="" {
			hx-vals={ btn.HxVals }
		}
		hx-headers='{"X-Request-Source": "btnobrada"}'
		if btn.HxOnAfterRequest != "" {
			hx-on::after-request={ templ.JSFuncCall(fmt.Sprintf("%s", btn.HxOnAfterRequest), btn.IdDialog) }
		}
	>
		<!-- Gear icon -->
		@Icon("fin_obrada", common.ClassIcon)
		{ translator.Button(btn.LabelText) }
	</button>
}

// Icon renders an SVG icon by name
templ Icon(name, classIcon string) {
	if svg, ok := common.IconSVG[name]; ok {
		<svg class={ classIcon } xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			@templ.Raw(svg)
		</svg>
	} else {
		<!-- Fallback icon if not found -->
		<svg class="h-5 w-5 mr-2 inline-block" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"></path>
		</svg>
	}
}

templ FormPrintButton(btn domain.Button, translator *i18n.Service) {
	<button
		id={ btn.Id }
		class={ btn.BtnClass }
		if btn.HxRequestType == "POST" {
			hx-post={ btn.HxActionURL }
		}
		if btn.HxRequestType == "GET" {
			hx-get={ btn.HxActionURL }
		}
		if btn.HxRequestType == "DELETE" {
			hx-delete={ btn.HxActionURL }
		}
		if btn.HxRequestType == "PUT" {
			hx-put={ btn.HxActionURL }
		}
		if btn.HxTarget !="" {
			hx-target={ btn.HxTarget }
		}
		if btn.HxSwap !="" {
			hx-swap={ btn.HxSwap }
		}
		if btn.HxInclude !="" {
			hx-include={ btn.HxInclude }
		}
		if btn.HxVals !="" {
			hx-vals={ btn.HxVals }
		}
		hx-headers='{"X-Request-Source": "btnprint"}'
		if btn.HxOnAfterRequest != "" {
			hx-on::after-request={ templ.JSFuncCall("handleDialogResponse", btn.IdDialog) }
		}
	>
		@Icon("stampa", common.ClassIcon)
		{ translator.Button(btn.LabelText) }
	</button>
}
