package templates

import "helia/internal/domain"

templ Search_Part(tbl domain.TableData, searchControl domain.InputControl) {
	<div class="flex justify-between items-center mb-2">
		<h2 class="text-xl font-semibold">{ tbl.ContentTitle }</h2>
		<div class="flex space-x-1 items-center">
			<div class="relative">
				<input
					name="query"
					class="search-input border rounded px-2 h-8 py-1 text-xs w-64 pl-8"
					id={ searchControl.ID }
					type={ searchControl.Type }
					placeholder={ searchControl.Placeholder }
					hx-get={ searchControl.HxActionURL }
					hx-target={ searchControl.HxTarget }
					hx-swap={ searchControl.HxSwap }
					hx-trigger={ searchControl.HxTrigger }
					hx-include={ searchControl.HxInclude }
					autocomplete={ searchControl.Autocomplete }
					onkeyp={ templ.JSFuncCall("handleSearch", "event", searchControl.HxActionURL) }
				/>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 absolute left-2 top-1/2 transform -translate-y-1/2 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
				</svg>
			</div>
			if tbl.BtnAdd.IsVisible {
				@Search_PartAddButton(tbl)
			}
			if tbl.BtnPrint.IsVisible {
				@Search_PartPrintButton(tbl)
			}
		</div>
	</div>
}

templ Search_PartAddButton(tbl domain.TableData) {
	<button
		class="bg-green-500 hover:bg-green-700 text-white h-6 px-1 py-1 mr-1 rounded text-xs flex items-center"
		hx-get={ tbl.BtnAdd.HxActionURL }
		hx-target="#dialog-container"
		hx-swap="innerHTML"
	>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 mr-1">
			<path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 9a.75.75 0 0 0-1.5 0v2.25H9a.75.75 0 0 0 0 1.5h2.25V15a.75.75 0 0 0 1.5 0v-2.25H15a.75.75 0 0 0 0-1.5h-2.25V9Z" clip-rule="evenodd"></path>
		</svg>
		{ tbl.BtnAdd.LabelText }
	</button>
}

templ Search_PartPrintButton(tbl domain.TableData) {
	<a
		href={ templ.URL(tbl.BtnPrint.HxActionURL) }
		target="_blank"
		rel="noopener noreferrer"
		class="bg-blue-500 hover:bg-blue-700 text-white h-6 px-1 py-1 rounded text-xs flex items-center"
	>
		<svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
			<path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M16.444 18H19a1 1 0 0 0 1-1v-5a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h2.556M17 11V5a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v6h10ZM7 15h10v4a1 1 0 0 1-1 1H8a1 1 0 0 1-1-1v-4Z"></path>
		</svg>
		{ tbl.BtnPrint.LabelText }
	</a>
}
