package templates

import (
	"fmt"
	"helia/internal/domain"
	"helia/internal/common"
)

templ Side_nav(submenu []domain.SubMenuItem) {
	// Side menu navigation area
	<div id="side-menu" class="bg-gray-700 text-white w-64 text-sm border-b rounded-sm">
		<ul class="flex flex-col mb-auto gap-1">
			<!-- Use 'gap-1' for tighter spacing -->
			for _, item := range submenu {
				<li class="nav-item">
					<a
						hx-get={ fmt.Sprintf("%s", item.URL) }
						hx-target="#content"
						hx-swap="innerHTML"
						class="side-nav-item flex items-center py-2 px-3 hover:bg-blue-600  border-b rounded-md"
						onclick="
                        document.querySelectorAll('#side-menu .side-nav-item').forEach(function(a) {
                            a.className = 'side-nav-item flex items-center py-2 px-3  hover:bg-blue-600  border-b rounded-md text-gray-300';
                        });
                        this.className = 'side-nav-item flex items-center py-2 px-3 bg-white border-b text-blue-800';
                    "
					>
						@Icon(item.Icon, common.ClassIcon)
						// <svg class="h-5 w-5 mr-2" fill="none" stroke="currentColor">
						//	<use href={ fmt.Sprintf("/frontend/static/icons/allicons.svg#%s", item.Icon) } xlink:href={ fmt.Sprintf("/frontend/static/icons/allicons.svg#%s", item.Icon) }></use>
						// </svg>
						<span class="medium">{ item.Name }</span>
						// Replace with your Tailwind icon or text
						// <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
						// 	<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d={ fmt.Sprintf("%s", item.Icon) }></path>
						// </svg>
						// <span class="medium">{ item.Name }</span>
					</a>
				</li>
			}
		</ul>
	</div>
	<script>
    document.addEventListener('DOMContentLoaded', () => {
        const sideNavItems = document.querySelectorAll('.side-nav-item');

        function handleSideNavItemClick(event) {
            sideNavItems.forEach(item => {
                item.classList.remove('bg-blue-600');
            });
            event.currentTarget.classList.add('bg-blue-600');
        }

        sideNavItems.forEach(item => {
            item.addEventListener('click', handleSideNavItemClick);
        });
    });
</script>
}
