
package templates

import (
	"fmt"
	"helia/internal/domain"
)

templ TablePagination(tbl domain.TableData) {
	<nav class="flex justify-between items-center w-full">
		<div class="flex items-center space-x-3">
			<label for="pageSize" class="text-sm text-gray-700">Prikaz po stranici:</label>
			<select
				id="pageSize"
				class="block w-auto px-1 py-1 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring focus:border-blue-300"
				hx-get={ fmt.Sprintf("%s", tbl.URLGetAll) }
				hx-target="#table-body"
				hx-trigger="change"
				hx-include={ tbl.Pagination.HxInclude }
				name="pageSize"
			>
				for _, pSize := range tbl.Pagination.PageSizes {
					<option
						value={ fmt.Sprintf("%d", pSize) }
						if tbl.Pagination.PageSize == pSize {
							selected
						}
					>{ fmt.Sprintf("%d",pSize) }</option>
				}
			</select>
			<span class="text-sm text-gray-700">Prikazano { fmt.Sprintf("%d", tbl.Pagination.StartRecord) }-{ fmt.Sprintf("%d", tbl.Pagination.EndRecord) } od { fmt.Sprintf("%d", tbl.Pagination.TotalRecords) } slogova</span>
		</div>
		<ul class="inline-flex items-center -space-x-px h-8 text-sm">
			if tbl.Pagination.CurrentPage > 1 {
				<li>
					<a
						hx-get={ fmt.Sprintf("%s?page=%d&pageSize=%d", tbl.URLGetAll, tbl.Pagination.CurrentPage-1, tbl.Pagination.PageSize) }
						hx-target="#table-body"
						hx-include={ tbl.Pagination.HxInclude }
						class="block px-3 py-1 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700"
					>
						Prethodna
					</a>
				</li>
			}
			if tbl.Pagination.CurrentPage > 3 {
				<li>
					<a
						hx-get={ fmt.Sprintf("%s?page=%d&pageSize=%d", tbl.URLGetAll, 1, tbl.Pagination.PageSize) }
						hx-target="#table-body"
						class="block px-3 py-1 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
					>
						1
					</a>
				</li>
				if tbl.Pagination.CurrentPage > 4 {
					<li>
						<span
							class="block px-3 py-1 leading-tight text-gray-500 bg-white border border-gray-300"
							hx-include={ tbl.Pagination.HxInclude }
						>...</span>
					</li>
				}
			}
			for i := max(1, tbl.Pagination.CurrentPage-2); i <= min(tbl.Pagination.TotalPages, tbl.Pagination.CurrentPage+2); i++ {
				if i == tbl.Pagination.CurrentPage {
					<li>
						<a
							hx-get={ fmt.Sprintf("%s?page=%d&pageSize=%d", tbl.URLGetAll, i, tbl.Pagination.PageSize) }
							hx-target="#table-body"
							hx-include={ tbl.Pagination.HxInclude }
							class="block px-3 py-1 leading-tight text-blue-700 bg-blue-100 border border-gray-300"
						>
							{ fmt.Sprintf("%d", i) }
						</a>
					</li>
				} else {
					<li>
						<a
							hx-get={ fmt.Sprintf("%s?page=%d&pageSize=%d", tbl.URLGetAll, i, tbl.Pagination.PageSize) }
							hx-target="#table-body"
							hx-include={ tbl.Pagination.HxInclude }
							class="block px-3 py-1 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
						>
							{ fmt.Sprintf("%d", i) }
						</a>
					</li>
				}
			}
			if tbl.Pagination.CurrentPage < tbl.Pagination.TotalPages-2 {
				if tbl.Pagination.CurrentPage < tbl.Pagination.TotalPages-3 {
					<li>
						<span
							class="block px-3 py-1 leading-tight text-gray-500 bg-white border border-gray-300"
							hx-include={ tbl.Pagination.HxInclude }
						>...</span>
					</li>
				}
				<li>
					<a
						hx-get={ fmt.Sprintf("%s?page=%d&pageSize=%d", tbl.URLGetAll, tbl.Pagination.TotalPages, tbl.Pagination.PageSize) }
						hx-target="#table-body"
						hx-include={ tbl.Pagination.HxInclude }
						class="block px-3 py-1 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
					>
						{ fmt.Sprintf("%d", tbl.Pagination.TotalPages) }
					</a>
				</li>
			}
			if tbl.Pagination.CurrentPage < tbl.Pagination.TotalPages {
				<li>
					<a
						hx-get={ fmt.Sprintf("%s?page=%d&pageSize=%d", tbl.URLGetAll, tbl.Pagination.CurrentPage+1, tbl.Pagination.PageSize) }
						hx-target="#table-body"
						hx-include={ tbl.Pagination.HxInclude }
						class="block px-3 py-1 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700"
					>
						Sledeća
					</a>
				</li>
			}
		</ul>
	</nav>
}
