
package templates

import (
	"fmt"
	"helia/internal/common"
	"helia/internal/domain"
	"helia/i18n"
)

templ TablePagination(tbl domain.TableData, translator *i18n.Service) {
	<nav class="flex justify-between items-center w-full">
		<div class="flex items-center space-x-3">
			<label for="pageSize" class="text-sm text-gray-700">{ translator.Label("Prikaz po stranici") }</label>
			<select
				id="pageSize"
				class="block w-auto px-1 py-1 border border-gray-300 rounded-md text-sm focus:outline-none focus:ring focus:border-blue-300"
				hx-get={ fmt.Sprintf("%s", tbl.URLGetAll) }
				hx-target={ fmt.Sprintf("#%s", tbl.TableID) }
				hx-trigger="change"
				if tbl.Pagination.HxInclude !="" {
					hx-include={ tbl.Pagination.HxInclude }
				}
				if tbl.Pagination.HxVals !="" {
					hx-vals={ tbl.Pagination.HxVals }
				}
				hx-headers='{"X-Request-Source": "btnpage"}'
				name="pageSize"
			>
				for _, pSize := range tbl.Pagination.PageSizes {
					<option
						value={ fmt.Sprintf("%d", pSize) }
						if tbl.Pagination.PageSize == pSize {
							selected
						}
					>{ fmt.Sprintf("%d",pSize) }</option>
				}
			</select>
			<span class="text-sm text-gray-700">{ translator.Label("Prikazano") } { fmt.Sprintf("%d", tbl.Pagination.StartRecord) }-{ fmt.Sprintf("%d", tbl.Pagination.EndRecord) } { translator.Label("od") } { fmt.Sprintf("%d", tbl.Pagination.TotalRecords) } { translator.Label("slogova") }</span>
		</div>
		<ul class="inline-flex items-center -space-x-px h-8 text-sm">
			if tbl.Pagination.CurrentPage > 1 {
				@PagerElement(tbl, translator.Label("Prethodna"), tbl.Pagination.CurrentPage-1, common.ClassTablePageButton)
			}
			if tbl.Pagination.CurrentPage > 3 {
				@PagerElement(tbl, "1", 1, common.ClassTablePageButton)
				if tbl.Pagination.CurrentPage > 4 {
					<li>
						<span
							class="block px-3 py-1 leading-tight text-gray-500 bg-white border border-gray-300"
							if tbl.Pagination.HxInclude !="" {
								hx-include={ tbl.Pagination.HxInclude }
							}
							if tbl.Pagination.HxVals !="" {
								hx-vals={ tbl.Pagination.HxVals }
							}
							hx-headers='{"X-Request-Source": "btnpage"}'
						>...</span>
					</li>
				}
			}
			for i := max(1, tbl.Pagination.CurrentPage-2); i <= min(tbl.Pagination.TotalPages, tbl.Pagination.CurrentPage+2); i++ {
				if i == tbl.Pagination.CurrentPage {
					@PagerElement(tbl, fmt.Sprintf("%d", i), i, common.ClassTablePageButtonSelected)
				} else {
					@PagerElement(tbl, fmt.Sprintf("%d", i), i, common.ClassTablePageButton)
				}
			}
			if tbl.Pagination.CurrentPage < tbl.Pagination.TotalPages-2 {
				if tbl.Pagination.CurrentPage < tbl.Pagination.TotalPages-3 {
					<li>
						<span
							class="block px-3 py-1 leading-tight text-gray-500 bg-white border border-gray-300"
							if tbl.Pagination.HxInclude !="" {
								hx-include={ tbl.Pagination.HxInclude }
							}
							if tbl.Pagination.HxVals !="" {
								hx-vals={ tbl.Pagination.HxVals }
							}
							hx-headers='{"X-Request-Source": "btnpage"}'
						>...</span>
					</li>
				}
				@PagerElement(tbl, fmt.Sprintf("%d", tbl.Pagination.TotalPages), tbl.Pagination.TotalPages, common.ClassTablePageButton)
			}
			if tbl.Pagination.CurrentPage < tbl.Pagination.TotalPages {
				@PagerElement(tbl, translator.Label("Sledeća"), tbl.Pagination.CurrentPage+1, common.ClassTablePageButton)
			}
		</ul>
	</nav>
}

templ PagerElement(tbl domain.TableData, labelText string, pageNumber int, buttonClass string) {
	<li>
		<a
			hx-get={ fmt.Sprintf("%s?page=%d&pageSize=%d", tbl.URLGetAll, pageNumber, tbl.Pagination.PageSize) }
			hx-target={ fmt.Sprintf("#%s", tbl.TableID) }
			if tbl.Pagination.HxInclude !="" {
				hx-include={ tbl.Pagination.HxInclude }
			}
			if tbl.Pagination.HxVals !="" {
				hx-vals={ tbl.Pagination.HxVals }
			}
			hx-headers='{"X-Request-Source": "btnpage"}'
			class={ buttonClass }
		>
			{ labelText }
		</a>
	</li>
}
